Scraper - Merge Listings con DB (fb_seller_id + url).json
{
  "name": "Scraper - Merge Listings con DB (fb_seller_id + url)",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        7952,
        3744
      ],
      "id": "ecd6f75e-fd9c-4665-a222-9808145c9775",
      "name": "Respond to Webhook13",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"error\",\n  \"message\": \"Los vehiculos extraidos ya existen en la base de datos\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        7792,
        3888
      ],
      "id": "3c040241-74e8-4adc-a405-e94c5e2c2feb",
      "name": "Respond to Webhook14"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"info\",\"message\":\"No se encontraron valores en la búsqueda\",\"resumen\":{\"listings_nuevos_guardados\":0,\"vendedores_nuevos\":0,\"listings_descartados_por_precio\":0,\"total_scrapeados\":0,\"pasaron_filtro_precio\":0,\"duplicados_omitidos\":0}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        5040,
        4016
      ],
      "id": "be84739e-a958-4f5e-9b81-ce95d26e1c76",
      "name": "Respond Error3"
    },
    {
      "parameters": {
        "content": "## Flujo: Scrapear datos, filtrar, revisi[on de datos, guardar en la base de datos, extraer marca y modelo con ia y remover duplicados",
        "height": 800,
        "width": 3860,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4256,
        3568
      ],
      "typeVersion": 1,
      "id": "40854b09-03c0-4c97-9def-711da6b529a2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4cad0243-db64-45c5-8ef4-d8ed7658d519",
              "leftValue": "={{ $json.brand }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9fe6078c-9a2a-4e84-9b01-add1ea1a146d",
              "leftValue": "={{ $json.model }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d072fb1a-4e09-4a6d-adfa-266c9bea966c",
              "leftValue": "={{ $json.excluded }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "789b2abd-4c24-48fc-abbc-cf9818bd323b",
              "leftValue": "={{ $json.model }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        6384,
        3904
      ],
      "id": "2507cd0b-0b65-47d4-aed1-e7816b850b2e",
      "name": "Filter"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "buscar-producto-marketplace",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4320,
        4000
      ],
      "id": "9d91a108-c0ae-4202-b883-226a5a4869b8",
      "name": "Trigger FrontEnd",
      "webhookId": "36fad69f-ddc4-43bd-99c6-8d7d76b6f625",
      "executeOnce": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        4320,
        3824
      ],
      "id": "1db5af5f-0135-48ec-9590-02c837bff847",
      "name": "Trigger horario"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "vehicle_requests",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "aprobado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4464,
        3824
      ],
      "id": "d150ad2e-0713-4b2a-b8db-6809c70a8076",
      "name": "Pedidos",
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "RAg7JZ9BSTFgJong",
          "name": "ksi nuevos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/actor-tasks/nautical_odyssey~marketplace-scraper/run-sync-get-dataset-items?token={{ $env.APIFY_API_TOKEN }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"getAllListingPhotos\": false,\n  \"getListingDetails\": true,\n  \"strictFiltering\": true,\n  \"count\": 60,\n  \"untilDate\": \"{{ $now.minus({days: 7}).toFormat('yyyy-MM-dd') }}\",\n  \"maxPagesPerUrl\": 3,\n  \"urls\": {{ JSON.stringify($json.urls) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4832,
        3904
      ],
      "id": "97e6345a-6a46-4dc8-9ce8-ca8dcf39d8a9",
      "name": "Scrap data by enconde uri",
      "executeOnce": true,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const car = item.json.brand + ' ' + item.json.model;\n  const averageYear = Math.round((item.json.year_min + item.json.year_max) / 2);\n  const carSearchValue = car + ' ' + averageYear || 'Ford';\n  const urlString = encodeURIComponent(carSearchValue);\n\n  item.json.carSearchValue = carSearchValue;\n  item.json.urls = [\n    `https://www.facebook.com/marketplace/cuenca/search/?daysSinceListed=7&sortBy=creation_time_descend&query=${urlString}&exact=false&locale=es_LA`,\n    `https://www.facebook.com/marketplace/cuenca/search/?category_id=546583916084032&sortBy=creation_time_descend&query=${urlString}&referral_ui_component=category_menu_item`\n  ];\n\n  results.push({ json: item.json });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4608,
        3824
      ],
      "id": "60022d46-ec2a-407b-aebe-0c55751efb0e",
      "name": "Extract vehicle"
    },
    {
      "parameters": {
        "jsCode": "const searchValue = $input.first().json.body.searchValue\nconst result = encodeURIComponent(searchValue).toLowerCase()\n\nreturn [{\n  json: {\n    urls: [\n      `https://www.facebook.com/marketplace/cuenca/search/?daysSinceListed=7&sortBy=creation_time_descend&query=${result}&exact=false&locale=es_LA`,\n      `https://www.facebook.com/marketplace/cuenca/search/?category_id=546583916084032&sortBy=creation_time_descend&query=${result}&referral_ui_component=category_menu_item`\n    ]\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4608,
        4000
      ],
      "id": "8e66d8c5-587c-4bdb-b214-8478168d3eac",
      "name": "Convert string to Encode URI",
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c0a306d4-42f8-4e25-ab9e-b55f1956fc7b",
              "leftValue": "={{ $('Filter cars by price').all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5440,
        3808
      ],
      "id": "23ef2c84-0e5a-4098-9f63-acc73ff83e29",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"info\",\"message\":\"No se encontraron valores en la búsqueda\",\"resumen\":{\"listings_nuevos_guardados\":0,\"vendedores_nuevos\":0,\"listings_descartados_por_precio\":0,\"total_scrapeados\":0,\"pasaron_filtro_precio\":0,\"duplicados_omitidos\":0}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        5616,
        4000
      ],
      "id": "3304aba6-5f56-481e-a72e-ff30f3a19b9f",
      "name": "Respond to Webhook16"
    },
    {
      "parameters": {
        "jsCode": "const allPrices = [];\n\nfunction extractYear(titleText, descText) {\n  const text = titleText + \" \" + (descText ?? \"\");\n  const yearMatch = text.match(/\\b(19|20)\\d{2}\\b/);\n  return yearMatch ? yearMatch[0] : null;\n}\n\nfunction getDerivedRegion(loc) {\n  if (!loc || typeof loc !== 'string') return null;\n  const lower = loc.toLowerCase();\n  const COAST = ['guayaquil','manta','esmeraldas','machala','santo domingo','portoviejo','babahoyo','quevedo','milagro','daule','salinas','samborondón','durán','manabí','santa elena'];\n  const SIERRA = ['quito','cuenca','ambato','riobamba','loja','ibarra','tulcán','latacunga','guaranda','azogues','cañar','chordeleg'];\n  if (COAST.some(c => lower.includes(c))) return 'costa';\n  if (SIERRA.some(c => lower.includes(c))) return 'sierra';\n  return null;\n}\n\n// ========== EXTRAER IMÁGENES DEL LISTING ==========\nfunction extractImageUrls(car) {\n  const urls = [];\n\n  const extraPhotos =\n    car.listing_photos ?? car.media ?? car.photos ?? car.listing_images ?? [];\n\n  for (const photo of extraPhotos) {\n    const uri =\n      photo?.listing_image?.uri ??\n      photo?.image?.uri ??\n      photo?.uri ??\n      (typeof photo === \"string\" ? photo : null);\n\n    const primaryUri = car.primary_listing_photo?.listing_image?.uri;\n    if (uri && uri !== primaryUri && !urls.includes(uri)) {\n      urls.push(uri);\n    }\n  }\n\n  return urls;\n}\n\n// ========== FUNCIÓN PARA LIMPIAR CARACTERÍSTICAS ==========\nfunction cleanCharacteristics(characteristics) {\n  // Si es null o undefined, retornar null\n  if (!characteristics) return null;\n\n  // Si es un string vacío, retornar null\n  if (typeof characteristics === \"string\" && characteristics.trim() === \"\") {\n    return null;\n  }\n\n  // Si es un array\n  if (Array.isArray(characteristics)) {\n    // Si está vacío, retornar null\n    if (characteristics.length === 0) return null;\n\n    // Filtrar elementos vacíos o inválidos\n    const filtered = characteristics.filter((item) => {\n      if (typeof item === \"string\") return item.trim() !== \"\";\n      if (typeof item === \"object\" && item !== null) return true;\n      return false;\n    });\n\n    // Si después de filtrar está vacío, retornar null\n    return filtered.length > 0 ? filtered : null;\n  }\n\n  // Si es un objeto\n  if (typeof characteristics === \"object\") {\n    // Verificar si tiene propiedades válidas\n    const keys = Object.keys(characteristics);\n    if (keys.length === 0) return null;\n\n    // Verificar si todas las propiedades están vacías\n    const hasValidData = keys.some((key) => {\n      const value = characteristics[key];\n      if (typeof value === \"string\") return value.trim() !== \"\";\n      if (Array.isArray(value)) return value.length > 0;\n      return value !== null && value !== undefined;\n    });\n\n    return hasValidData ? characteristics : null;\n  }\n\n  // Si es un string válido, retornarlo\n  if (typeof characteristics === \"string\") {\n    return characteristics;\n  }\n\n  return null;\n}\n\n// ========== EXTRAER DATOS DE OPENAI ==========\n// ========== EXTRAER DATOS DE OPENAI ==========\nlet openAiDataArray = [];\n\nfor (const filterItem of $(\"Filter\").all()) {\n  const data = filterItem.json;\n  if (data?.id) {\n    openAiDataArray.push(data);\n  }\n}\n\n// ========== FILTRAR ITEMS EXCLUIDOS ==========\nopenAiDataArray = openAiDataArray.filter((data) => !data.excluded);\n\nconst openAiDataMap = new Map();\nopenAiDataArray.forEach((data) => {\n  if (data.id) {\n    openAiDataMap.set(String(data.id), data);\n  }\n});\n\n// ========== PROCESAR TODOS LOS ITEMS ==========\nconst validItems = [];\n\nfor (const item of $(\"Filter cars by price\").all()) {\n  const car = item.json;\n\n  const sellerId = car.marketplace_listing_seller.id;\n\n  if (!sellerId) {\n    console.log(`Item sin seller_id, descartando: ${car.id}`);\n    continue;\n  }\n\n  const openAiData = openAiDataMap.get(String(car.id));\n\n  if (!openAiData) {\n    console.log(`Item sin datos de OpenAI (posiblemente excluido): ${car.id}`);\n    continue;\n  }\n\n  const tags = [];\n\n  item.json.carprice = car.listing_price?.amount ?? 0;\n\n  const priceAmount = Number(car.listing_price?.amount ?? 0);\n\n  if (priceAmount > 2000) {\n    allPrices.push(priceAmount);\n  }\n\n  const desc = String(car.redacted_description?.text ?? \"\").toLowerCase();\n  const title = String(car.marketplace_listing_title ?? \"\").toLowerCase();\n\n  const patioRegex =\n    /\\b(cr[eé]dito|financiamiento|financiaci[oó]n|cuotas?|entrada|recibimos|parte de pago|aceptamos|visitanos|visítenos|estamos ubicados)\\b/i;\n  if (patioRegex.test(desc)) {\n    tags.push(\"PATIO\");\n  }\n\n  const mecanicaRegex =\n    /\\b(reparar|reparaci[oó]n|dañad[oa]|chocado|siniestrado|fallando)\\b/i;\n  if (mecanicaRegex.test(desc)) {\n    tags.push(\"MECANICA\");\n  }\n\n  let finalLocation = \"cliente\";\n\n  if (tags.includes(\"MECANICA\")) {\n    finalLocation = \"taller\";\n  } else if (tags.includes(\"PATIO\") || desc.includes(\"revendedor\")) {\n    finalLocation = \"patio\";\n  }\n\n  let finalMileage = null;\n  let mileageSource = null;\n\n\n  // ========== PARSEAR KILOMETRAJE ==========\nfunction parseMileage(value) {\n  if (value == null) return null;\n  if (typeof value === 'number') return value;\n  const match = String(value).replace(/\\./g, '').match(/\\d+/);\n  return match ? parseInt(match[0], 10) : null;\n}\n  \n  \n  if (openAiData?.mileage) {\n    finalMileage = parseMileage(openAiData.mileage);\n    mileageSource = finalMileage ? \"openai\" : null;\n} else if (car.vehicle_odometer_data?.value) {\n    finalMileage = parseMileage(car.vehicle_odometer_data.value);\n    mileageSource = finalMileage ? \"facebook_odometer\" : null;\n}\n\n  // ========== EXTRAER TODAS LAS IMÁGENES ==========\n  const listingImageUrls = extractImageUrls(car);\n\n  item.json.tags = tags;\n  item.json.primaryTag = tags[0] ?? null;\n\n  // ========== LIMPIAR CARACTERÍSTICAS CON LA FUNCIÓN ==========\n  const cleanedCharacteristics = cleanCharacteristics(\n    openAiData.specifications,\n  );\n\n  item.json.openai_extracted = {\n    brand: openAiData.brand ?? null,\n    model: openAiData.model ?? null,\n    phone: openAiData.phone ?? null,\n    mileage: openAiData.mileage ?? null,\n    extras: openAiData.extras ?? null,\n    characteristics: cleanedCharacteristics,\n    motor: openAiData.motor ?? null,\n    transmission: openAiData.transmission ?? null,\n    trim: openAiData.trim ?? null\n  };\n\n  if (car.vehicle_odometer_data?.value) {\n    item.json.mileage_from_fb_listing = car.vehicle_odometer_data.value;\n  } else {\n    item.json.mileage_from_fb_listing = null;\n  }\n\n  // ========== LIMPIAR ARRAYS ANTES DE GUARDAR ==========\n  const cleanExtras =\n    Array.isArray(openAiData.extras) && openAiData.extras.length > 0\n      ? openAiData.extras\n      : null;\n\n  const cleanImageUrls =\n    Array.isArray(listingImageUrls) && listingImageUrls.length > 0\n      ? listingImageUrls\n      : null;\n\n  const cleanTags = Array.isArray(tags) && tags.length > 0 ? tags : null;\n\n  item.json.mapped_data = {\n    id: car.id,\n    title: car.marketplace_listing_title,\n    price: priceAmount,\n    description: car.redacted_description?.text ?? \"\",\n    location: finalLocation,\n    seller_location: car.location_text?.text ?? null,\n    condition: car.condition ?? null,\n    year: extractYear(title, car.redacted_description?.text),\n    url: car.listingUrl,\n    publication_date: car.creation_time_formatted ?? null,\n    image_url: car.primary_listing_photo.image.uri ?? null,\n    listing_image_urls: cleanImageUrls,\n    mileage: finalMileage,\n    mileage_source: mileageSource,\n    tags: cleanTags,\n    is_sold: car.is_sold ?? false,\n    is_pending: car.is_pending ?? false,\n    seller_id: sellerId,\n    seller_pic: car.marketplace_listing_seller.pic,\n    seller_badges: car.commerce_badges_info?.source_summary ?? null,\n    brand: openAiData.brand,\n    model: openAiData.model,\n    phone: openAiData.phone,\n    extras: cleanExtras,\n    characteristics: cleanedCharacteristics,\n    motor: openAiData.motor,\n    transmission: openAiData.transmission,\n    trim: openAiData.trim ?? null,\n    region: getDerivedRegion(car.location_text?.text ?? null)\n  };\n\n  validItems.push(item);\n}\n\n// ========== CALCULAR ESTADÍSTICAS ==========\nconst validPrices = allPrices.filter((p) => p > 0);\nconst totalPrices = validPrices.length;\nconst avgPrice =\n  totalPrices > 0\n    ? validPrices.reduce((sum, price) => sum + price, 0) / totalPrices\n    : 0;\nconst minPrice = totalPrices > 0 ? Math.min(...validPrices) : 0;\nconst maxPrice = totalPrices > 0 ? Math.max(...validPrices) : 0;\nconst medianPrice =\n  totalPrices > 0\n    ? validPrices.sort((a, b) => a - b)[Math.floor(totalPrices / 2)]\n    : 0;\n\nfor (const item of validItems) {\n  item.json.price_statistics = {\n    average_price: Math.round(avgPrice),\n    median_price: medianPrice,\n    min_price: minPrice,\n    max_price: maxPrice,\n    total_listings: totalPrices,\n    total_items: validItems.length,\n  };\n\n  const itemPrice = Number(item.json.listing_price?.amount ?? 0);\n  if (itemPrice > 0 && itemPrice < avgPrice * 0.7) {\n    if (!item.json.tags) item.json.tags = [];\n    item.json.tags.push(\"PRECIO_BAJO\");\n    if (!item.json.primaryTag) item.json.primaryTag = \"PRECIO_BAJO\";\n\n    if (!item.json.mapped_data.tags) item.json.mapped_data.tags = [];\n    item.json.mapped_data.tags.push(\"PRECIO_BAJO\");\n  } else if (itemPrice > avgPrice * 1.3) {\n    if (!item.json.tags) item.json.tags = [];\n    item.json.tags.push(\"PRECIO_ALTO\");\n    if (!item.json.primaryTag) item.json.primaryTag = \"PRECIO_ALTO\";\n\n    if (!item.json.mapped_data.tags) item.json.mapped_data.tags = [];\n    item.json.mapped_data.tags.push(\"PRECIO_ALTO\");\n  }\n\n  // ✅ Limpiar tags finales\n  if (\n    Array.isArray(item.json.mapped_data.tags) &&\n    item.json.mapped_data.tags.length === 0\n  ) {\n    item.json.mapped_data.tags = null;\n  }\n}\n\nreturn validItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6544,
        3904
      ],
      "id": "5c43b96c-db6e-4583-9d1a-eed1fd8c4079",
      "name": "Map & tag listings"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "filter_valid_price",
              "leftValue": "={{ Number($('Check if any data exists').item.json.listing_price.amount) }}",
              "rightValue": 3000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "309a00fd-ec79-4967-8817-2f3e5d09c366",
              "leftValue": "={{ Number($('Check if any data exists').item.json.listing_price.amount) }}",
              "rightValue": 200000,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        5264,
        3808
      ],
      "id": "25b2907b-8fdf-4d84-9199-fb25a639eccb",
      "name": "Filter cars by price",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "let encodeUriData = [];\nlet vehicleRequestsData = [];\n\ntry {\n  encodeUriData = $input.all();\n} catch (error) {\n  console.log('Nodo \"Scrap data by enconde uri\" no ejecutado o sin datos');\n}\n\ntry {\n  vehicleRequestsData = $('Scrap data by vehicle requests').all();\n} catch (error) {\n  console.log('Nodo \"Scrap data by vehicle requests\" no ejecutado o sin datos');\n}\n\nconst hasEncodeUriData = encodeUriData && encodeUriData.length > 0;\nconst hasVehicleRequestsData = vehicleRequestsData && vehicleRequestsData.length > 0;\n\nconsole.log(`Datos en 'Scrap data by enconde uri': ${hasEncodeUriData ? encodeUriData.length : 0} items`);\nconsole.log(`Datos en 'Scrap data by vehicle requests': ${hasVehicleRequestsData ? vehicleRequestsData.length : 0} items`);\n\nif (hasEncodeUriData) {\n  console.log('Retornando datos de: Scrap data by enconde uri');\n  return encodeUriData;\n} else if (hasVehicleRequestsData) {\n  console.log('Retornando datos de: Scrap data by vehicle requests');\n  return vehicleRequestsData;\n} else {\n  console.log('No hay datos en ninguno de los nodos');\n  return [{ json: { total_items: 0 } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5072,
        3808
      ],
      "id": "4cb828d8-bc3c-47de-8279-773d4e54cdaa",
      "name": "Check if any data exists"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://enfqumrstqefbxtwsslq.supabase.co/storage/v1/object/vehicle_images/{{ $json.storage_path }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVuZnF1bXJzdHFlZmJ4dHdzc2xxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ1ODI4MSwiZXhwIjoyMDgxMDM0MjgxfQ.Gu__KFcSjmpOwXT-G22HE9d9eE2ujUZGr_4ANwMSrc0"
            },
            {
              "name": "Content-Type",
              "value": "={{ 'image/' + $json.file_ext }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "image",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7056,
        4000
      ],
      "id": "7e26cd01-4e1a-4c48-b410-d99e40425b17",
      "name": "Upload to Supabase Storage",
      "retryOnFail": true,
      "maxTries": 5,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7376,
        4192
      ],
      "id": "f5c76718-1717-4eab-be7f-d9477d91bd6a",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\n\nfor (const item of $input.all()) {\n  const url = item.json?.primary_listing_photo_url ?? [];\n  const listingId = item.json.id\n\n    if (!url) continue;\n\n    const cleanUrl = String(url);\n    const extMatch = cleanUrl.match(/\\.(jpg|jpeg|png|webp|gif)(\\?|$)/i);\n    const ext = (extMatch?.[1] || 'jpg').toLowerCase();\n\n    out.push({\n      json: {\n        listing_id: listingId,\n        image_url: url,\n        file_ext: ext,\n        file_name: `${listingId}_photo.${ext}`,\n        storage_path: `${listingId}/${listingId}_photo.${ext}`,\n      },\n    });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6720,
        4000
      ],
      "id": "39212b32-fa9a-4256-9d76-0f8be338113a",
      "name": "Convert images to base 64"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst grouped = {};\n\nfor (const item of items) {\n  // Supabase a veces devuelve el path en el response\n  const storagePath = item.json.storage_path || item.json.Key || item.json.key;\n  const listingId = item.json.listing_id;\n\n  if (!listingId || !storagePath) {\n    // Si faltan datos, skip\n    continue;\n  }\n\n  const publicUrl = `https://enfqumrstqefbxtwsslq.supabase.co/storage/v1/object/public/vehicle_images/${storagePath}`;\n\n  if (!grouped[listingId]) {\n    grouped[listingId] = {\n      listing_id: listingId,\n      image_urls: [],\n      vehicle_url: `https://www.facebook.com/marketplace/item/${listingId}`\n    };\n  }\n  grouped[listingId].image_urls.push(publicUrl);\n}\n\nconst result = Object.values(grouped);\n\nif (result.length === 0) {\n  throw new Error('No se pudo agrupar ninguna imagen. Verifica que listing_id y storage_path lleguen desde el nodo anterior.');\n}\n\nreturn result.map(g => ({ json: g }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7056,
        4192
      ],
      "id": "8c47d405-e4a2-4fad-bf31-d9abb7ec6c27",
      "name": "Listing image URLs"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7216,
        4000
      ],
      "id": "b9b50ca3-0abc-4c56-80d1-ef93bc818850",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "scraper_vehicles",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "url",
              "condition": "eq",
              "keyValue": "={{ $json.vehicle_url }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "listing_image_urls",
              "fieldValue": "={{ $json.image_urls }}"
            },
            {
              "fieldId": "image_url",
              "fieldValue": "={{ $json.image_urls[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7216,
        4192
      ],
      "id": "a3aad4ed-3180-4e53-9e11-ac23cf8f4216",
      "name": "Update images",
      "credentials": {
        "supabaseApi": {
          "id": "RAg7JZ9BSTFgJong",
          "name": "ksi nuevos"
        }
      }
    },
    {
      "parameters": {
        "tableId": "scraper_vehicles",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7600,
        3808
      ],
      "id": "95757074-9d05-4012-adee-b20cf9a56ea1",
      "name": "Save Listings to DB",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RAg7JZ9BSTFgJong",
          "name": "ksi nuevos"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "title",
              "name": "title",
              "value": "={{ $json.mapped_data.title }}",
              "type": "string"
            },
            {
              "id": "price",
              "name": "price",
              "value": "={{ $json.mapped_data.price }}",
              "type": "number"
            },
            {
              "id": "year",
              "name": "year",
              "value": "={{ $json.mapped_data.year }}",
              "type": "string"
            },
            {
              "id": "mileage",
              "name": "mileage",
              "value": "={{ $json.mapped_data.mileage }}",
              "type": "number"
            },
            {
              "id": "condition",
              "name": "condition",
              "value": "={{ $json.mapped_data.condition }}",
              "type": "string"
            },
            {
              "id": "location",
              "name": "location",
              "value": "={{ $json.location_text.text }}",
              "type": "string"
            },
            {
              "id": "url",
              "name": "url",
              "value": "={{ $json.mapped_data.url }}",
              "type": "string"
            },
            {
              "id": "image_url",
              "name": "image_url",
              "value": "={{ $json.mapped_data.image_url }}",
              "type": "string"
            },
            {
              "id": "tags",
              "name": "tags",
              "value": "={{ $json.mapped_data.tags || [] }}",
              "type": "array"
            },
            {
              "id": "description",
              "name": "description",
              "value": "={{ $json.mapped_data.description }}",
              "type": "string"
            },
            {
              "id": "publication_date",
              "name": "publication_date",
              "value": "={{ $json.mapped_data.publication_date }}",
              "type": "string"
            },
            {
              "id": "model",
              "name": "model",
              "value": "={{ $json.mapped_data.model }}",
              "type": "string"
            },
            {
              "id": "brand",
              "name": "brand",
              "value": "={{ $json.mapped_data.brand }}",
              "type": "string"
            },
            {
              "id": "seller_id",
              "name": "seller_id",
              "value": "={{ $json.mapped_data.listing_id }}",
              "type": "string"
            },
            {
              "id": "extras",
              "name": "extras",
              "value": "={{ $json.mapped_data.extras || [] }}",
              "type": "array"
            },
            {
              "id": "characteristics",
              "name": "characteristics",
              "value": "={{ $json.mapped_data.characteristics || [] }}",
              "type": "array"
            },
            {
              "id": "listing_image_urls",
              "name": "listing_image_urls",
              "value": "={{ [$json.mapped_data.image_url] || [] }}",
              "type": "array"
            },
            {
              "id": "f9ace1b7-c62a-4e05-bb1b-5228cbe5b460",
              "name": "motor",
              "value": "={{ $json.mapped_data.motor }}",
              "type": "string"
            },
            {
              "id": "4030272d-8e64-49cc-bee3-b5c89b5671fe",
              "name": "transmission",
              "value": "={{ $json.mapped_data.transmission ?? null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7440,
        3808
      ],
      "id": "81b2ff99-ef4a-43c3-8d79-e279d74ba0cc",
      "name": "Vehicles Listings Data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "seller_id",
              "name": "fb_seller_id",
              "value": "={{ $json.mapped_data.seller_id }}",
              "type": "string"
            },
            {
              "id": "seller_name",
              "name": "seller_name",
              "value": "={{ $json.marketplace_listing_seller?.name ?? $json.marketplace_listing_seller ?? 'Usuario de Facebook' }}",
              "type": "string"
            },
            {
              "id": "location",
              "name": "location",
              "value": "={{ $json.mapped_data.location }}",
              "type": "string"
            },
            {
              "id": "is_dealer",
              "name": "is_dealer",
              "value": "={{ $json.tags.includes('PATIO') }}",
              "type": "boolean"
            },
            {
              "id": "badges",
              "name": "badges",
              "value": "={{ $json.mapped_data.seller_badges }}",
              "type": "string"
            },
            {
              "id": "first_seen_at",
              "name": "first_seen_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "total_listings",
              "name": "total_listings",
              "value": "={{ $json.price_statistics.total_listings }}",
              "type": "number"
            },
            {
              "id": "last_updated",
              "name": "last_updated",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "5b52ccd5-8e48-47f5-b840-bb0f2e68c3b1",
              "name": "seller_location",
              "value": "={{ $json.mapped_data.seller_location }}",
              "type": "string"
            },
            {
              "id": "1dfc4649-ce2e-4c37-8649-48bbac425591",
              "name": "seller_pic",
              "value": "={{ $json.mapped_data.seller_pic }}",
              "type": "string"
            },
            {
              "id": "335dd57c-1bae-4422-b141-2250624a5f01",
              "name": "listing_id",
              "value": "={{ $json.mapped_data.id }}",
              "type": "string"
            },
            {
              "id": "e8d08fda-0977-48ee-b45a-03735ce3f7c8",
              "name": "rating",
              "value": "={{ $json.marketplace_listing_seller.rating_avg }}",
              "type": "number"
            },
            {
              "id": "9a434982-67ad-42d6-ae67-d96239ba99ae",
              "name": "rating_count",
              "value": "={{ $json.marketplace_listing_seller.rating_count }}",
              "type": "number"
            },
            {
              "id": "b3d35eab-668f-43dc-af94-b1643d650c7c",
              "name": "ratings_private",
              "value": "={{ $json.marketplace_listing_seller.ratings_private }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6720,
        3808
      ],
      "id": "e244d8a2-8446-4399-a1d8-83dc2fc86e0c",
      "name": "Sellers Data"
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6880,
        4000
      ],
      "id": "336db631-0e6b-4801-8683-e00bf0089018",
      "name": "Download Image",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "alwaysOutputData": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function safeLength(nodeName) {\n  try {\n    const items = $(nodeName).all();\n    if (!items || !Array.isArray(items)) return 0;\n    if (nodeName === 'Check if any data exists' && items.length === 1 && items[0].json?.total_items === 0) return 0;\n    return items.length;\n  } catch (e) { return 0; }\n}\n\nfunction countNewListingsSaved() {\n  try {\n    const items = $('Save Listings to DB').all();\n    if (!items || !Array.isArray(items)) return 0;\n    const UUID_REGEX = /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\n    return items.filter(i => {\n      const j = i.json;\n      if (!j || !j.id) return false;\n      if (typeof j.id !== 'string') return false;\n      if (!UUID_REGEX.test(j.id)) return false;\n      return !!(j.url || j.title);\n    }).length;\n  } catch (e) { return 0; }\n}\n\nfunction safeGetUrlsFromUpdateRow() {\n  try {\n    return $('Update a row').all().map(i => i.json?.mapped_data?.url || i.json?.url).filter(Boolean);\n  } catch (e) { return []; }\n}\n\nfunction safeGetUrlsFromUpdateImages() {\n  try {\n    return $('Update images').all().map(i => i.json?.vehicle_url || i.json?.url).filter(Boolean);\n  } catch (e) { return []; }\n}\n\nconst totalScraped = safeLength('Check if any data exists');\nconst passedPriceFilter = safeLength('Filter cars by price');\nconst discardedByPrice = Math.max(0, totalScraped - passedPriceFilter);\nconst newListingsSaved = countNewListingsSaved();\n\nconst countUpdateRow = safeLength('Update a row');\nconst countUpdateImages = safeLength('Update images');\nconst urlsUpdateRow = safeGetUrlsFromUpdateRow();\nconst urlsUpdateImages = safeGetUrlsFromUpdateImages();\nconst uniqueUpdatedUrls = new Set([...urlsUpdateRow, ...urlsUpdateImages]);\nconst totalVehiculosActualizados = uniqueUpdatedUrls.size > 0 ? uniqueUpdatedUrls.size : (countUpdateRow + countUpdateImages);\n\nconst summary = {\n  status: 'done',\n  message: 'Scraping terminado exitosamente',\n  resumen: {\n    listings_nuevos_guardados: newListingsSaved,\n    listings_descartados_por_precio: discardedByPrice,\n    total_scrapeados: totalScraped,\n    pasaron_filtro_precio: passedPriceFilter,\n    total_vehiculos_actualizados: totalVehiculosActualizados\n  }\n};\n\nreturn [{ json: summary }];"
      },
      "id": "d60ca0d7-3af9-4507-8b88-b94e2135e855",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7792,
        3744
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const BATCH_SIZE = 10;\nconst MAX_DESC_LEN = 500;\nconst inputItems = $('If').all();\nconst result = [];\n\n// Construir set de URLs ya existentes en $input\nconst existingUrls = new Set(\n  $input.all().map(it => it.json.url).filter(Boolean)\n);\n\n// Filtrar los que ya existen\nconst filteredItems = inputItems.filter(it => {\n  const url = it.json.listingUrl ?? it.json.url ?? null;\n  return !existingUrls.has(url);\n});\n\nfor (let i = 0; i < filteredItems.length; i += BATCH_SIZE) {\n  const slice = filteredItems.slice(i, i + BATCH_SIZE);\n  const originals = slice.map((it) => ({ ...it.json }));\n\n  const rows = slice.map((it) => {\n    const row = it.json || {};\n    const id = row.id ?? 'null';\n    const title = String(row.marketplace_listing_title ?? row.title ?? '');\n    const rawDesc = String(row.redacted_description?.text ?? row.description ?? '');\n    let cleanDesc = rawDesc\n      .replace(/\\[hidden information\\]/gi, '')\n      .replace(/\\b(no negociantes?|visítenos|visitanos|estamos ubicados.*)/gi, '')\n      .replace(/\\n+/g, '. ')\n      .replace(/\\s{2,}/g, ' ')\n      .trim() || 'null';\n    if (cleanDesc.length > MAX_DESC_LEN) cleanDesc = cleanDesc.slice(0, MAX_DESC_LEN) + '...';\n    const desc = cleanDesc.includes(',') ? `\"${cleanDesc}\"` : cleanDesc;\n    return `  ${id},${title},${desc}`;\n  });\n\n  result.push({\n    json: {\n      batch_index: result.length,\n      _batch_originals: originals,\n      batchText: `listings[${slice.length}]{id,title,description}:\\n${rows.join('\\n')}`\n    }\n  });\n}\n\nreturn result;"
      },
      "id": "5f170e51-82e2-4088-8455-3c2e46f12d1c",
      "name": "Build Batch Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5792,
        3904
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  const row = item.json || {};\n  const vehicles = row.message?.content?.vehicles;\n\n  if (!Array.isArray(vehicles)) continue;\n\n  for (const vehicle of vehicles) {\n    output.push({\n      json: {\n        id: vehicle.id ?? null,\n        brand: vehicle.brand ?? null,\n        model: vehicle.model ?? null,\n        mileage: vehicle.mileage ?? null,\n        extras: Array.isArray(vehicle.extras) ? vehicle.extras : [],\n        specifications: Array.isArray(vehicle.specifications) ? vehicle.specifications : [],\n        motor: vehicle.motor ?? null,\n        transmission: vehicle.transmission ?? null,\n        excluded: Boolean(vehicle.excluded)\n      }\n    });\n  }\n}\n\nreturn output;"
      },
      "id": "f1cbc41e-4682-4da4-867f-2b76c762662c",
      "name": "Split Batch AI Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6224,
        3904
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "messages": {
          "values": [
            {
              "content": "Extrae datos de vehículos automotores de cada anuncio. Devuelve SOLO JSON array llamado \"vehicles\", mismo orden, sin markdown.\nCampos: {\"id\":null,\"brand\":null,\"model\":null,\"mileage\":null,\"extras\":[],\"specifications\":[],\"motor\":null,\"transmission\":null,\"excluded\":false}\nexcluded:true si no es carro/camioneta/SUV/pickup. No inventes datos.",
              "role": "system"
            },
            {
              "content": "={{ $json.batchText }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        5952,
        3904
      ],
      "id": "a3543f80-7525-4a12-a707-9bf0fe68fd61",
      "name": "Extract vehicle especifications",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "wu1SdZq2U1PD0TjX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "scraper_vehicles",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "url",
              "condition": "eq",
              "keyValue": "={{ $('Check if any data exists').item.json.listingUrl.trim() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5616,
        3808
      ],
      "id": "897bcfdd-dd3b-4301-b0c8-22834350b800",
      "name": "Get vehicles on db",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RAg7JZ9BSTFgJong",
          "name": "ksi nuevos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ECUADOR_CAR_DATA = {\"Audi\":[\"A3\",\"A4\",\"e-tron\",\"Q3\",\"Q5\",\"Q7\",\"Q8\",\"Q8 e-tron\"],\"BAIC\":[\"BJ40\",\"X35\",\"X55\"],\"BMW\":[\"Serie 3\",\"Serie 4\",\"X1\",\"X3\",\"X5\",\"X6\",\"X7\",\"i4\",\"iX\",\"iX3\"],\"BYD\":[\"Dolphin\",\"Han\",\"Seal\",\"Song Plus DM-i\",\"Tang\",\"Yuan Plus\",\"Yuan Pro\"],\"Changan\":[\"CS15\",\"CS35 Plus\",\"CS35 Plus DCT\",\"CS55 Plus\",\"CS55 R-EV\",\"Hunter E\",\"Hunter Turbo\",\"M60\",\"UNI-K\",\"UNI-T\",\"V3\",\"X7\"],\"Chery\":[\"Arrizo 5\",\"Arrizo 6\",\"Omoda 5\",\"Tiggo 2 PRO\",\"Tiggo 4 PRO\",\"Tiggo 7 PRO\",\"Tiggo 7 PRO Max\",\"Tiggo 8 PRO\"],\"Chevrolet\":[\"Aveo\",\"Blazer RS\",\"Bolt\",\"Bolt EUV\",\"Captiva\",\"Colorado\",\"D-MAX\",\"D-MAX High Power\",\"Equinox\",\"Groove\",\"Joy\",\"Joy Hb\",\"Montana\",\"N400\",\"Onix\",\"Onix RS\",\"Sail\",\"Silverado\",\"Suburban\",\"Tahoe\",\"Tracker\",\"Trailblazer\"],\"Citroën\":[\"Berlingo\",\"Berlingo Multispace\",\"Berlingo Van\",\"C-Elysée\",\"C3\",\"C3 Aircross\",\"C5 Aircross\",\"Jumper\",\"Jumpy\"],\"DFSK\":[\"560\",\"580\",\"600\",\"E5\"],\"Dodge\":[\"Durango\"],\"Dongfeng\":[\"Aeolus Shine\",\"Friday\",\"Nammi 01\",\"Rich 6\",\"Rich 7\",\"T5 Evo\"],\"FAW\":[\"Bestune T33\",\"Bestune T77\"],\"Fiat\":[\"500\",\"Argo\",\"Cronos\",\"Fastback\",\"Fiorino\",\"Pulse\",\"Strada\"],\"Ford\":[\"Bronco\",\"Bronco Sport\",\"Edge\",\"Escape\",\"Escape Full Hybrid\",\"Escape Titanium\",\"Everest\",\"Expedition\",\"Explorer\",\"F-150\",\"F-150 Híbrida\",\"Maverick\",\"Ranger\",\"Territory\"],\"Foton\":[\"Tunland G7\",\"Tunland G9\",\"View\"],\"GAC Motor\":[\"Aion ES\",\"Aion Y\",\"Emkoo\",\"GS3 Emzoom\",\"GS4 Max\",\"GS8\"],\"Geely\":[\"Azkarra\",\"Coolray\",\"Emgrand\",\"GX3 Pro\",\"Okavango\",\"Starray\"],\"GWM (Great Wall Motors)\":[\"Haval H6\",\"Haval H6 Híbrido\",\"Haval Jolion\",\"Haval Jolion Pro\",\"POER\",\"POER 500 Hybrid\",\"POER Automática\",\"POER Manual\",\"POER PHEV\",\"Tank 300\",\"Tank 500\",\"Wingle 7\"],\"Honda\":[\"CR-V\",\"Civic\",\"City\",\"HR-V\",\"Pilot\",\"Ridgeline\",\"WR-V\"],\"Hyundai\":[\"Accent\",\"Creta\",\"Elantra\",\"Grand i10\",\"H1\",\"Ioniq\",\"Ioniq 5\",\"Ioniq 6\",\"Kona\",\"Kona EV\",\"Kona HEV\",\"Palisade\",\"Santa Fe\",\"Sonata\",\"Staria\",\"Tucson\",\"Venue\",\"Verna\",\"Veloster\"],\"Isuzu\":[\"D-MAX\",\"MU-X\"],\"JAC\":[\"Frison T6\",\"Frison T6 (Diesel)\",\"Frison T6 (Gasolina)\",\"Frison T8\",\"Frison T8 (Diesel)\",\"Frison T8 PRO\",\"Frison T9\",\"JS2\",\"JS3\",\"JS4\",\"JS6\",\"JS8\",\"M4\",\"Sunray\"],\"Jaecoo\":[\"J7\",\"J8\"],\"Jeep\":[\"Commander\",\"Compass\",\"Gladiator\",\"Grand Cherokee\",\"Renegade\",\"Wrangler\"],\"Jetour\":[\"Dashing\",\"T2\",\"X70\",\"X70 Plus\"],\"Kia\":[\"Carens\",\"Carnival\",\"EV5\",\"EV6\",\"EV9\",\"K3\",\"Niro\",\"Picanto\",\"Seltos\",\"Soluto\",\"Sonet\",\"Sorento\",\"Sportage\"],\"Land Rover\":[\"Defender\",\"Discovery\",\"Range Rover Evoque\",\"Range Rover Sport\"],\"Lexus\":[\"ES\",\"GX\",\"IS\",\"LX\",\"NX\",\"RX\",\"UX\"],\"Mazda\":[\"BT-50\",\"CX-3\",\"CX-30\",\"CX-5\",\"CX-50\",\"CX-60\",\"CX-90\",\"MX-5\",\"Mazda 2\",\"Mazda 2 Hatchback\",\"Mazda 2 Sedan\",\"Mazda 3\",\"Mazda 3 Hatchback\",\"Mazda 3 Sedan\"],\"Mercedes-Benz\":[\"Clase A\",\"Clase C\",\"Clase E\",\"Clase G\",\"GLA\",\"GLC\",\"GLE\"],\"MG\":[\"MG 3\",\"MG 4\",\"MG 5\",\"MG GT\",\"MG HS\",\"MG Marvel R\",\"MG One\",\"MG RX5\",\"MG RX8\",\"MG RX9\",\"MG ZS\"],\"Mini\":[\"Cooper\",\"Countryman\"],\"Mitsubishi\":[\"ASX\",\"Eclipse Cross\",\"L200\",\"Montero Sport\",\"Outlander\"],\"Nissan\":[\"Frontier\",\"Kicks\",\"Leaf\",\"Pathfinder\",\"Patrol\",\"Qashqai\",\"Sentra\",\"Urvan\",\"Versa\",\"X-Trail\",\"X-Trail e-POWER\"],\"Opel\":[\"Corsa\",\"Crossland\",\"Grandland\",\"Mokka\"],\"Peugeot\":[\"2008\",\"208\",\"3008\",\"5008\",\"Landtrek\"],\"Porsche\":[\"911\",\"Cayenne\",\"Macan\",\"Panamera\",\"Taycan\"],\"RAM\":[\"RAM 1500\",\"RAM 700\",\"Rampage\"],\"Renault\":[\"Arkana\",\"Duster\",\"Kardian\",\"Koleos\",\"Kwid\",\"Logan\",\"Logan Crossover\",\"Megane E-Tech\",\"Oroch\",\"Sandero\",\"Sandero Stepway\",\"Stepway\"],\"Seat\":[\"Arona\",\"Ateca\",\"Ibiza\",\"Leon\",\"Tarraco\"],\"Shineray\":[\"G05\",\"X30\"],\"Skoda\":[\"Fabia\",\"Kamiq\",\"Karoq\",\"Kodiaq\",\"Scala\"],\"Subaru\":[\"Crosstrek\",\"Evoltis\",\"Forester\",\"Outback\",\"WRX\"],\"Suzuki\":[\"Baleno\",\"Eeco\",\"Fronx\",\"Grand Vitara\",\"Jimny\",\"Jimny 3-Door\",\"Jimny 5-Door\",\"S-Cross\",\"S-Cross Limitless\",\"Swift\",\"Vitara\",\"XL7\"],\"SWM\":[\"G01\",\"G03F\",\"G05\"],\"SsangYong\":[\"Korando\",\"Musso\",\"Rexton\",\"Tivoli\"],\"Toyota\":[\"4Runner\",\"Agya\",\"C-HR\",\"C-HR Híbrido\",\"Corolla\",\"Corolla Cross\",\"Corolla Cross Híbrido\",\"Corolla Híbrido\",\"Fortuner\",\"Highlander\",\"Hilux\",\"Innova\",\"Land Cruiser 300\",\"Land Cruiser Prado\",\"Raize\",\"Rav4\",\"Rush\",\"Sequoia\",\"Tundra\",\"Yaris\",\"Yaris Sport\",\"New Yaris\"],\"Volkswagen\":[\"Amarok\",\"ID.4\",\"Nivus\",\"Polo\",\"Polo HB\",\"Polo Track\",\"Saveiro\",\"T-Cross\",\"Taos\",\"Teramont\",\"Tiguan\",\"Virtus\"],\"Volvo\":[\"C40\",\"EX30\",\"XC40\",\"XC60\",\"XC90\"],\"ZX Auto\":[\"Terralord\"]};\n\nfunction normalize(value) {\n  if (value == null || value === '') return '';\n  return String(value)\n    .toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/([a-z])(\\d)/g, '$1-$2')\n    .replace(/(\\d)([a-z])/g, '$1-$2')\n    .replace(/[\\s\\(\\)\\/\\\\\\.]+/g, '-')\n    .replace(/-+/g, '-')\n    .replace(/^-|-$/g, '');\n}\n\nconst brandToModels = new Map();\nfor (const [brandKey, models] of Object.entries(ECUADOR_CAR_DATA)) {\n  const nBrand = normalize(brandKey);\n  brandToModels.set(nBrand, {\n    canonicalBrand: brandKey,\n    canonicalModels: models,\n    normalizedModels: models.map(m => normalize(m))\n  });\n}\n\nconst recentSellersMap = new Map();\nfor (const sellerItem of $('Get sellers already con db').all()) {\n  const json = sellerItem.json;\n  if (json.fb_seller_id) {\n    recentSellersMap.set(String(json.fb_seller_id), json.id);\n  }\n}\n\n// Dedup: URLs que ya existen en scraper_vehicles\nconst existingUrls = new Set();\ntry {\n  for (const dbItem of $('Get vehicles on db').all()) {\n    const url = dbItem.json?.url;\n    if (url) existingUrls.add(url.trim());\n  }\n} catch (e) { /* nodo no ejecutado */ }\nconsole.log(`URLs ya existentes en DB: ${existingUrls.size}`);\n\nconst matchedItems = [];\nlet skippedDuplicates = 0;\n\nconst BRAND_ALIASES = {\n  // Mercedes\n  'mercedes': 'mercedes-benz',\n  'benz': 'mercedes-benz',\n  'mercedes-benz': 'mercedes-benz',\n  'mercedes benz': 'mercedes-benz',\n  // Citroën\n  'citroen': 'citroen',\n  // GWM\n  'gwm': 'gwm-great-wall-motors',\n  'great-wall': 'gwm-great-wall-motors',\n  'great wall': 'gwm-great-wall-motors',\n  'haval': 'gwm-great-wall-motors',\n  // GAC\n  'gac': 'gac-motor',\n  // Land Rover\n  'land-rover': 'land-rover',\n  'landrover': 'land-rover',\n  // SsangYong\n  'ssangyong': 'ssangyong',\n  'sang-yong': 'ssangyong',\n};\n\n// Aliases de modelos: variante normalizada → normalizada del catálogo\nconst MODEL_ALIASES = {\n  // Chevrolet D-MAX\n  'dmax': 'd-max',\n  'd-max-high-power': 'd-max-high-power',\n  'dmax-high-power': 'd-max-high-power',\n  // Isuzu D-MAX\n  'dmax': 'd-max',\n  // Mazda BT-50\n  'bt50': 'bt-50',\n  'bt-50': 'bt-50',\n  // Nissan X-Trail\n  'xtrail': 'x-trail',\n  'x-trail': 'x-trail',\n  // Honda CR-V / HR-V\n  'crv': 'cr-v',\n  'hrv': 'hr-v',\n  // Toyota RAV4\n  'rav-4': 'rav-4',\n  'rav4': 'rav-4',\n  // Ford F-150\n  'f150': 'f-150',\n  'f-150': 'f-150',\n  // Volkswagen ID.4\n  'id4': 'id-4',\n  'id-4': 'id-4',\n  // Mazda MX-5\n  'mx5': 'mx-5',\n  // Toyota C-HR\n  'chr': 'c-hr',\n  'c-hr': 'c-hr',\n};\n\nfor (const item of $('Map & tag listings').all()) {\n  const mappedData = item.json.mapped_data;\n  if (!mappedData?.seller_id) continue;\n\n  const vehicleUrl = (mappedData.url || '').trim();\n  if (vehicleUrl && existingUrls.has(vehicleUrl)) {\n    skippedDuplicates++;\n    continue;\n  }\n\n  const fbSellerId = String(mappedData.seller_id);\n  if (!recentSellersMap.has(fbSellerId)) continue;\n\n  const dbId = recentSellersMap.get(fbSellerId);\n\n  const rawNBrand = normalize(mappedData.brand);\nconst nBrand = BRAND_ALIASES[rawNBrand] ?? BRAND_ALIASES[normalize(mappedData.brand?.toLowerCase())] ?? rawNBrand;\n\nconst rawNModel = normalize(mappedData.model);\nconst nModel = MODEL_ALIASES[rawNModel] ?? rawNModel;\n\nconst entry = brandToModels.get(nBrand);\nif (!entry) continue;\n\nconst modelIndex = entry.normalizedModels.findIndex(nm =>\n  nModel === nm || nModel.includes(nm) || nm.includes(nModel)\n);\nif (modelIndex === -1) continue;\n\nconst canonicalBrand = entry.canonicalBrand;\nconst canonicalModel = entry.canonicalModels[modelIndex];\n\n  matchedItems.push({\n    json: {\n      ...item.json,\n      mapped_data: {\n        ...mappedData,\n        listing_id: dbId,\n        brand: canonicalBrand,\n        model: canonicalModel\n      }\n    }\n  });\n}\n\nreturn matchedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7104,
        3808
      ],
      "id": "5aeb7f40-e93f-47fc-833d-e379cd91fd05",
      "name": "Filter mapped data by existing sellers1",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "scraper_sellers",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "fb_seller_id",
              "condition": "eq",
              "keyValue": "={{ $json.fb_seller_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6912,
        3808
      ],
      "id": "80ab4650-d021-4ed7-adfa-2eab58bf472f",
      "name": "Get sellers already con db",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RAg7JZ9BSTFgJong",
          "name": "ksi nuevos"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7136,
        3328
      ],
      "id": "1291ace7-f6a2-4809-8718-772a5ad483b0",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "buscar-todas-las-marcas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4320,
        4176
      ],
      "id": "8cf5cb35-957f-41ac-9f75-f7f098f1f74c",
      "name": "Trigger FrontEnd1",
      "webhookId": "36fad69f-ddc4-43bd-99c6-8d7d76b6f625",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const idsToFilter = new Set();\n\nfor (const trueSeller of $('All true sellers').all()) {\n  for (const listing of $('Map & tag listings').all()) {\n    if (trueSeller.json.fb_seller_id === listing.json.mapped_data?.seller_id) {\n      idsToFilter.add(String(listing.json.mapped_data.id));\n    }\n  }\n}\n\nconst trueSellersFiltered = [];\n\nfor (const seller of $('All sellers').all()) {\n  if (idsToFilter.has(String(seller.json.fb_seller_id ?? ''))) continue;\n\n  // Buscar el listing correspondiente por id\n  const listing = $('Map & tag listings').all().find(\n    l => String(l.json.mapped_data?.id ?? '') === String(seller.json.fb_seller_id ?? '')\n  );\n\n  if (!listing) continue;\n\n  trueSellersFiltered.push({\n    ...listing,\n    json: {\n      ...listing.json,\n      seller_db_id: seller.json.id ?? null,\n      seller_pic: seller.json.pic ?? null\n    }\n  });\n}\n\nreturn trueSellersFiltered;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6800,
        3328
      ],
      "id": "b755490c-c798-427b-9c34-ac7c93192157",
      "name": "Merge with seller pic",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "scraper_sellers",
        "filters": {
          "conditions": [
            {
              "keyName": "fb_seller_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "fb_seller_id",
              "fieldValue": "={{ $json.mapped_data.seller_id }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $json.marketplace_listing_seller.ratings_private ? null : $json.marketplace_listing_seller.rating_avg }}"
            },
            {
              "fieldId": "rating_count",
              "fieldValue": "={{ $json.marketplace_listing_seller.ratings_private ? null : $json.marketplace_listing_seller.rating_count }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6976,
        3328
      ],
      "id": "2ece56b3-a3a1-4871-986e-f5a912d389a6",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "RAg7JZ9BSTFgJong",
          "name": "ksi nuevos"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "scraper_sellers",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "fb_seller_id",
              "condition": "eq",
              "keyValue": "={{ $json.listing_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6448,
        3328
      ],
      "id": "b299096b-e7df-4d50-9176-79b02edb57ea",
      "name": "All sellers",
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "RAg7JZ9BSTFgJong",
          "name": "ksi nuevos"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -126768,
        -78688
      ],
      "id": "04a27657-261c-4f97-8c12-bbc61a89f58c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Eres un guionista y estratega de contenido para una concesionaria de autos. Genera 5 guiones cortos (vertical 9:16) para Reels/TikTok/Shorts, en español neutro, listos para grabar. Cada guion debe durar 25–40 segundos, con tono persuasivo y cercano (sin exagerar ni prometer cosas falsas).\n\nContexto (rellenar con mis datos):\n\n* Concesionaria: {NOMBRE_CONCESIONARIA}\n* Ciudad/país: {CIUDAD_PAIS}\n* Tipo de inventario: {NUEVOS_USADOS_MIX}\n* Marcas principales: {MARCAS}\n* Público objetivo: {PUBLICO_OBJETIVO}\n* Diferenciadores: {DIFERENCIADORES} (ej: garantía, financiamiento, revisión mecánica, entrega a domicilio, trade-in, etc.)\n* CTA principal: {CTA} (ej: “Escríbenos por WhatsApp”, “Agenda tu test drive”, “Visítanos hoy”)\n* Estilo visual: {ESTILO} (ej: moderno, premium, juvenil, familiar)\n\nRequisitos por guion:\n\n1. Título (hook) de máximo 8 palabras.\n2. Objetivo del video (vender, generar leads, educar, confianza).\n3. Guion palabra por palabra (lo que dice el presentador).\n4. Lista de tomas por segundo (shot list) indicando: plano (close/medio/abierto), qué se muestra (auto, interior, tablero, maletero, etc.), y texto en pantalla.\n5. B-roll sugerido (3–5 clips).\n6. Subtítulos: 1–2 líneas por frase, sin signos raros, fácil de leer.\n7. Copy para descripción (1–2 líneas) + 5 hashtags relevantes.\n8. CTA final con urgencia suave (sin “últimas unidades” si no es real).\n\nVariedad obligatoria (1 guion de cada tipo):\n\n* A) “Oportunidad de la semana” (precio + beneficio real + por qué vale).\n* B) “3 cosas que revisar antes de comprar usado” (educativo).\n* C) “Comparativa rápida” (dos autos similares, ideal para indecisos).\n* D) “Test drive sensorial” (sonido, manejo, confort, seguridad).\n* E) “Confianza” (proceso de revisión, garantía, papeles, cómo compras sin riesgos).\n\nReglas:\n\n* No inventes datos técnicos ni precios si no te los doy. Si faltan, usa placeholders: {PRECIO}, {AÑO}, {KM}, {MOTOR}, {TRANSMISION}, {BONO}.\n* No menciones marcas competidoras de forma negativa.\n* Evita jerga demasiado técnica; explica fácil.\n* Enfatiza transparencia: “te mostramos todo”, “historial”, “revisión”, “prueba”.\n\nEntrega en formato claro con separadores por guion y sin markdown."
            },
            {
              "content": "Claro — aquí tienes un ejemplo de mensaje de un usuario cualquiera (cliente potencial) preguntando por un carro:\n\n“Hola, vi el anuncio del Mazda CX-5. ¿Todavía está disponible? ¿Cuál es el precio final y cuántos kilómetros tiene? También quisiera saber si aceptan financiamiento y si se puede agendar una prueba de manejo. Gracias.”\n\nSi lo quieres más “Marketplace” (más corto y directo):\n\n“Hola, sigue disponible? Precio? Km? Se puede ver hoy?”"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -126768,
        -78688
      ],
      "id": "8bb24fef-9ec7-4cdf-8c82-a69c86d8c203",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "wu1SdZq2U1PD0TjX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Eres un analizador de texto cortos y lo transformas en texto muy explicitos y largos"
            },
            {
              "content": "=Analiza el contenido que te enviaré (texto/tabla/JSON/transcripción). Tu tarea es generar un texto EXTREMADAMENTE largo, detallado y exhaustivo, en español, sin usar viñetas ni listas, solo párrafos.\n\nRequisitos obligatorios:\n\n* Longitud objetivo: mínimo 12,000 palabras (si el contenido es corto, amplía con análisis, contexto, ejemplos y escenarios).\n* Estructura: título + 12 secciones con subtítulos, pero dentro de cada sección escribe únicamente en párrafos (no bullets).\n* Profundidad: explica qué es, por qué importa, cómo se aplica, ventajas, riesgos, supuestos, limitaciones, métricas, buenas prácticas, errores comunes, casos de uso, comparaciones y recomendaciones.\n* Extracción: identifica conceptos clave, términos técnicos, entidades (personas, lugares, productos), cifras y relaciones entre ellas.\n* Inferencias: cuando infieras algo que NO está explícito, márcalo con “(inferencia)” y justifica por qué.\n* Consistencia: no inventes datos numéricos; si faltan, usa rangos razonables y explica que son estimaciones (inferencia).\n* Estilo: formal, claro, coherente, sin relleno repetitivo, con transiciones naturales entre secciones.\n* Incluye: un resumen ejecutivo al inicio (2–3 párrafos) y una conclusión final extensa (mínimo 10 párrafos).\n* Citas internas: cuando uses frases exactas del contenido, colócalas entre comillas y no uses más de 25 palabras por cita.\n* Salida: entrega solo el texto final, sin explicaciones sobre el proceso, sin markdown.\n\nContenido a analizar:\n{{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -126768,
        -78688
      ],
      "id": "8945d3f0-7744-4482-95cc-5b0b951741db",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "wu1SdZq2U1PD0TjX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Eres un guionista y estratega de contenido para una concesionaria de autos. Genera 5 guiones cortos (vertical 9:16) para Reels/TikTok/Shorts, en español neutro, listos para grabar. Cada guion debe durar 25–40 segundos, con tono persuasivo y cercano (sin exagerar ni prometer cosas falsas).\n\nContexto (rellenar con mis datos):\n\n* Concesionaria: {NOMBRE_CONCESIONARIA}\n* Ciudad/país: {CIUDAD_PAIS}\n* Tipo de inventario: {NUEVOS_USADOS_MIX}\n* Marcas principales: {MARCAS}\n* Público objetivo: {PUBLICO_OBJETIVO}\n* Diferenciadores: {DIFERENCIADORES} (ej: garantía, financiamiento, revisión mecánica, entrega a domicilio, trade-in, etc.)\n* CTA principal: {CTA} (ej: “Escríbenos por WhatsApp”, “Agenda tu test drive”, “Visítanos hoy”)\n* Estilo visual: {ESTILO} (ej: moderno, premium, juvenil, familiar)\n\nRequisitos por guion:\n\n1. Título (hook) de máximo 8 palabras.\n2. Objetivo del video (vender, generar leads, educar, confianza).\n3. Guion palabra por palabra (lo que dice el presentador).\n4. Lista de tomas por segundo (shot list) indicando: plano (close/medio/abierto), qué se muestra (auto, interior, tablero, maletero, etc.), y texto en pantalla.\n5. B-roll sugerido (3–5 clips).\n6. Subtítulos: 1–2 líneas por frase, sin signos raros, fácil de leer.\n7. Copy para descripción (1–2 líneas) + 5 hashtags relevantes.\n8. CTA final con urgencia suave (sin “últimas unidades” si no es real).\n\nVariedad obligatoria (1 guion de cada tipo):\n\n* A) “Oportunidad de la semana” (precio + beneficio real + por qué vale).\n* B) “3 cosas que revisar antes de comprar usado” (educativo).\n* C) “Comparativa rápida” (dos autos similares, ideal para indecisos).\n* D) “Test drive sensorial” (sonido, manejo, confort, seguridad).\n* E) “Confianza” (proceso de revisión, garantía, papeles, cómo compras sin riesgos).\n\nReglas:\n\n* No inventes datos técnicos ni precios si no te los doy. Si faltan, usa placeholders: {PRECIO}, {AÑO}, {KM}, {MOTOR}, {TRANSMISION}, {BONO}.\n* No menciones marcas competidoras de forma negativa.\n* Evita jerga demasiado técnica; explica fácil.\n* Enfatiza transparencia: “te mostramos todo”, “historial”, “revisión”, “prueba”.\n\nEntrega en formato claro con separadores por guion y sin markdown."
            },
            {
              "content": "Claro — aquí tienes un ejemplo de mensaje de un usuario cualquiera (cliente potencial) preguntando por un carro:\n\n“Hola, vi el anuncio del Mazda CX-5. ¿Todavía está disponible? ¿Cuál es el precio final y cuántos kilómetros tiene? También quisiera saber si aceptan financiamiento y si se puede agendar una prueba de manejo. Gracias.”\n\nSi lo quieres más “Marketplace” (más corto y directo):\n\n“Hola, sigue disponible? Precio? Km? Se puede ver hoy?”"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -126768,
        -78688
      ],
      "id": "df72e0cc-a697-4fa9-a9b3-3553f3b6545a",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "wu1SdZq2U1PD0TjX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Eres un analizador de texto cortos y lo transformas en texto muy explicitos y largos"
            },
            {
              "content": "=Analiza el contenido que te enviaré (texto/tabla/JSON/transcripción). Tu tarea es generar un texto EXTREMADAMENTE largo, detallado y exhaustivo, en español, sin usar viñetas ni listas, solo párrafos.\n\nRequisitos obligatorios:\n\n* Longitud objetivo: mínimo 12,000 palabras (si el contenido es corto, amplía con análisis, contexto, ejemplos y escenarios).\n* Estructura: título + 12 secciones con subtítulos, pero dentro de cada sección escribe únicamente en párrafos (no bullets).\n* Profundidad: explica qué es, por qué importa, cómo se aplica, ventajas, riesgos, supuestos, limitaciones, métricas, buenas prácticas, errores comunes, casos de uso, comparaciones y recomendaciones.\n* Extracción: identifica conceptos clave, términos técnicos, entidades (personas, lugares, productos), cifras y relaciones entre ellas.\n* Inferencias: cuando infieras algo que NO está explícito, márcalo con “(inferencia)” y justifica por qué.\n* Consistencia: no inventes datos numéricos; si faltan, usa rangos razonables y explica que son estimaciones (inferencia).\n* Estilo: formal, claro, coherente, sin relleno repetitivo, con transiciones naturales entre secciones.\n* Incluye: un resumen ejecutivo al inicio (2–3 párrafos) y una conclusión final extensa (mínimo 10 párrafos).\n* Citas internas: cuando uses frases exactas del contenido, colócalas entre comillas y no uses más de 25 palabras por cita.\n* Salida: entrega solo el texto final, sin explicaciones sobre el proceso, sin markdown.\n\nContenido a analizar:\n{{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -126768,
        -78688
      ],
      "id": "4e554928-87e5-4d95-aadb-f87db9db79bb",
      "name": "Message a model3",
      "credentials": {
        "openAiApi": {
          "id": "wu1SdZq2U1PD0TjX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Eres un analizador de texto cortos y lo transformas en texto muy explicitos y largos"
            },
            {
              "content": "=Analiza el contenido que te enviaré (texto/tabla/JSON/transcripción). Tu tarea es generar un texto EXTREMADAMENTE largo, detallado y exhaustivo, en español, sin usar viñetas ni listas, solo párrafos.\n\nRequisitos obligatorios:\n\n* Longitud objetivo: mínimo 12,000 palabras (si el contenido es corto, amplía con análisis, contexto, ejemplos y escenarios).\n* Estructura: título + 12 secciones con subtítulos, pero dentro de cada sección escribe únicamente en párrafos (no bullets).\n* Profundidad: explica qué es, por qué importa, cómo se aplica, ventajas, riesgos, supuestos, limitaciones, métricas, buenas prácticas, errores comunes, casos de uso, comparaciones y recomendaciones.\n* Extracción: identifica conceptos clave, términos técnicos, entidades (personas, lugares, productos), cifras y relaciones entre ellas.\n* Inferencias: cuando infieras algo que NO está explícito, márcalo con “(inferencia)” y justifica por qué.\n* Consistencia: no inventes datos numéricos; si faltan, usa rangos razonables y explica que son estimaciones (inferencia).\n* Estilo: formal, claro, coherente, sin relleno repetitivo, con transiciones naturales entre secciones.\n* Incluye: un resumen ejecutivo al inicio (2–3 párrafos) y una conclusión final extensa (mínimo 10 párrafos).\n* Citas internas: cuando uses frases exactas del contenido, colócalas entre comillas y no uses más de 25 palabras por cita.\n* Salida: entrega solo el texto final, sin explicaciones sobre el proceso, sin markdown.\n\nContenido a analizar:\n{{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -126768,
        -78688
      ],
      "id": "37750998-3120-4f43-962e-d8729396e40d",
      "name": "Message a model4",
      "credentials": {
        "openAiApi": {
          "id": "wu1SdZq2U1PD0TjX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Eres un guionista y estratega de contenido para una concesionaria de autos. Genera 5 guiones cortos (vertical 9:16) para Reels/TikTok/Shorts, en español neutro, listos para grabar. Cada guion debe durar 25–40 segundos, con tono persuasivo y cercano (sin exagerar ni prometer cosas falsas).\n\nContexto (rellenar con mis datos):\n\n* Concesionaria: {NOMBRE_CONCESIONARIA}\n* Ciudad/país: {CIUDAD_PAIS}\n* Tipo de inventario: {NUEVOS_USADOS_MIX}\n* Marcas principales: {MARCAS}\n* Público objetivo: {PUBLICO_OBJETIVO}\n* Diferenciadores: {DIFERENCIADORES} (ej: garantía, financiamiento, revisión mecánica, entrega a domicilio, trade-in, etc.)\n* CTA principal: {CTA} (ej: “Escríbenos por WhatsApp”, “Agenda tu test drive”, “Visítanos hoy”)\n* Estilo visual: {ESTILO} (ej: moderno, premium, juvenil, familiar)\n\nRequisitos por guion:\n\n1. Título (hook) de máximo 8 palabras.\n2. Objetivo del video (vender, generar leads, educar, confianza).\n3. Guion palabra por palabra (lo que dice el presentador).\n4. Lista de tomas por segundo (shot list) indicando: plano (close/medio/abierto), qué se muestra (auto, interior, tablero, maletero, etc.), y texto en pantalla.\n5. B-roll sugerido (3–5 clips).\n6. Subtítulos: 1–2 líneas por frase, sin signos raros, fácil de leer.\n7. Copy para descripción (1–2 líneas) + 5 hashtags relevantes.\n8. CTA final con urgencia suave (sin “últimas unidades” si no es real).\n\nVariedad obligatoria (1 guion de cada tipo):\n\n* A) “Oportunidad de la semana” (precio + beneficio real + por qué vale).\n* B) “3 cosas que revisar antes de comprar usado” (educativo).\n* C) “Comparativa rápida” (dos autos similares, ideal para indecisos).\n* D) “Test drive sensorial” (sonido, manejo, confort, seguridad).\n* E) “Confianza” (proceso de revisión, garantía, papeles, cómo compras sin riesgos).\n\nReglas:\n\n* No inventes datos técnicos ni precios si no te los doy. Si faltan, usa placeholders: {PRECIO}, {AÑO}, {KM}, {MOTOR}, {TRANSMISION}, {BONO}.\n* No menciones marcas competidoras de forma negativa.\n* Evita jerga demasiado técnica; explica fácil.\n* Enfatiza transparencia: “te mostramos todo”, “historial”, “revisión”, “prueba”.\n\nEntrega en formato claro con separadores por guion y sin markdown."
            },
            {
              "content": "Claro — aquí tienes un ejemplo de mensaje de un usuario cualquiera (cliente potencial) preguntando por un carro:\n\n“Hola, vi el anuncio del Mazda CX-5. ¿Todavía está disponible? ¿Cuál es el precio final y cuántos kilómetros tiene? También quisiera saber si aceptan financiamiento y si se puede agendar una prueba de manejo. Gracias.”\n\nSi lo quieres más “Marketplace” (más corto y directo):\n\n“Hola, sigue disponible? Precio? Km? Se puede ver hoy?”"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -126768,
        -78688
      ],
      "id": "e5b0c1a7-ea0b-4842-854f-de6831adc982",
      "name": "Message a model5",
      "credentials": {
        "openAiApi": {
          "id": "wu1SdZq2U1PD0TjX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Eres un analizador de texto cortos y lo transformas en texto muy explicitos y largos"
            },
            {
              "content": "=Analiza el contenido que te enviaré (texto/tabla/JSON/transcripción). Tu tarea es generar un texto EXTREMADAMENTE largo, detallado y exhaustivo, en español, sin usar viñetas ni listas, solo párrafos.\n\nRequisitos obligatorios:\n\n* Longitud objetivo: mínimo 12,000 palabras (si el contenido es corto, amplía con análisis, contexto, ejemplos y escenarios).\n* Estructura: título + 12 secciones con subtítulos, pero dentro de cada sección escribe únicamente en párrafos (no bullets).\n* Profundidad: explica qué es, por qué importa, cómo se aplica, ventajas, riesgos, supuestos, limitaciones, métricas, buenas prácticas, errores comunes, casos de uso, comparaciones y recomendaciones.\n* Extracción: identifica conceptos clave, términos técnicos, entidades (personas, lugares, productos), cifras y relaciones entre ellas.\n* Inferencias: cuando infieras algo que NO está explícito, márcalo con “(inferencia)” y justifica por qué.\n* Consistencia: no inventes datos numéricos; si faltan, usa rangos razonables y explica que son estimaciones (inferencia).\n* Estilo: formal, claro, coherente, sin relleno repetitivo, con transiciones naturales entre secciones.\n* Incluye: un resumen ejecutivo al inicio (2–3 párrafos) y una conclusión final extensa (mínimo 10 párrafos).\n* Citas internas: cuando uses frases exactas del contenido, colócalas entre comillas y no uses más de 25 palabras por cita.\n* Salida: entrega solo el texto final, sin explicaciones sobre el proceso, sin markdown.\n\nContenido a analizar:\n{{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -126768,
        -78688
      ],
      "id": "980785a1-549b-488c-a137-8b5e14ae1f6e",
      "name": "Message a model6",
      "credentials": {
        "openAiApi": {
          "id": "wu1SdZq2U1PD0TjX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "scraper_sellers",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "fb_seller_id",
              "condition": "eq",
              "keyValue": "={{ $('Map & tag listings').item.json.mapped_data.seller_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6624,
        3328
      ],
      "id": "b72690d5-0b34-4def-be5e-b59ecb103836",
      "name": "All true sellers",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RAg7JZ9BSTFgJong",
          "name": "ksi nuevos"
        }
      }
    },
    {
      "parameters": {
        "tableId": "scraper_sellers",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "seller_name",
              "fieldValue": "={{ $json.seller_name }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $json.location }}"
            },
            {
              "fieldId": "is_dealer",
              "fieldValue": "={{ $json.is_dealer }}"
            },
            {
              "fieldId": "badges",
              "fieldValue": "={{ $json.badges }}"
            },
            {
              "fieldId": "first_seen_at",
              "fieldValue": "={{ $json.first_seen_at }}"
            },
            {
              "fieldId": "total_listings",
              "fieldValue": "={{ $json.total_listings }}"
            },
            {
              "fieldId": "last_updated",
              "fieldValue": "={{ $json.last_updated }}"
            },
            {
              "fieldId": "fb_seller_id",
              "fieldValue": "={{ $json.fb_seller_id }}"
            },
            {
              "fieldId": "pic",
              "fieldValue": "={{ $json.seller_pic }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $json.rating }}"
            },
            {
              "fieldId": "rating_count",
              "fieldValue": "={{ $json.rating_count }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7504,
        3648
      ],
      "id": "34b721e1-f5a3-49a8-ac93-30ff6aa5fdc1",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "RAg7JZ9BSTFgJong",
          "name": "ksi nuevos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "scraper_sellers",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6912,
        3648
      ],
      "id": "a2c70888-c0bb-4cea-bf4e-72f207615d2a",
      "name": "Get many rows",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "RAg7JZ9BSTFgJong",
          "name": "ksi nuevos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const existingIds = new Set(\n  $('Get many rows').all().map(s => String(s.json.fb_seller_id ?? ''))\n);\n\nconst seenIds = new Set();\nconst toCreate = [];\n\nfor (const item of $('Sellers Data').all()) {\n  const fbSellerId = String(item.json.fb_seller_id ?? '');\n  if (!fbSellerId) continue;\n  if (existingIds.has(fbSellerId)) continue; // ya existe en DB\n  if (seenIds.has(fbSellerId)) continue;     // duplicado en este batch\n\n  seenIds.add(fbSellerId);\n  toCreate.push({ ...item });\n}\n\nreturn toCreate;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7104,
        3648
      ],
      "id": "05697ce2-fe4e-45ad-afdc-1fc273dbb2ad",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Eres un guionista y estratega de contenido para una concesionaria de autos. Genera 5 guiones cortos (vertical 9:16) para Reels/TikTok/Shorts, en español neutro, listos para grabar. Cada guion debe durar 25–40 segundos, con tono persuasivo y cercano (sin exagerar ni prometer cosas falsas).\n\nContexto (rellenar con mis datos):\n\n* Concesionaria: {NOMBRE_CONCESIONARIA}\n* Ciudad/país: {CIUDAD_PAIS}\n* Tipo de inventario: {NUEVOS_USADOS_MIX}\n* Marcas principales: {MARCAS}\n* Público objetivo: {PUBLICO_OBJETIVO}\n* Diferenciadores: {DIFERENCIADORES} (ej: garantía, financiamiento, revisión mecánica, entrega a domicilio, trade-in, etc.)\n* CTA principal: {CTA} (ej: “Escríbenos por WhatsApp”, “Agenda tu test drive”, “Visítanos hoy”)\n* Estilo visual: {ESTILO} (ej: moderno, premium, juvenil, familiar)\n\nRequisitos por guion:\n\n1. Título (hook) de máximo 8 palabras.\n2. Objetivo del video (vender, generar leads, educar, confianza).\n3. Guion palabra por palabra (lo que dice el presentador).\n4. Lista de tomas por segundo (shot list) indicando: plano (close/medio/abierto), qué se muestra (auto, interior, tablero, maletero, etc.), y texto en pantalla.\n5. B-roll sugerido (3–5 clips).\n6. Subtítulos: 1–2 líneas por frase, sin signos raros, fácil de leer.\n7. Copy para descripción (1–2 líneas) + 5 hashtags relevantes.\n8. CTA final con urgencia suave (sin “últimas unidades” si no es real).\n\nVariedad obligatoria (1 guion de cada tipo):\n\n* A) “Oportunidad de la semana” (precio + beneficio real + por qué vale).\n* B) “3 cosas que revisar antes de comprar usado” (educativo).\n* C) “Comparativa rápida” (dos autos similares, ideal para indecisos).\n* D) “Test drive sensorial” (sonido, manejo, confort, seguridad).\n* E) “Confianza” (proceso de revisión, garantía, papeles, cómo compras sin riesgos).\n\nReglas:\n\n* No inventes datos técnicos ni precios si no te los doy. Si faltan, usa placeholders: {PRECIO}, {AÑO}, {KM}, {MOTOR}, {TRANSMISION}, {BONO}.\n* No menciones marcas competidoras de forma negativa.\n* Evita jerga demasiado técnica; explica fácil.\n* Enfatiza transparencia: “te mostramos todo”, “historial”, “revisión”, “prueba”.\n\nEntrega en formato claro con separadores por guion y sin markdown."
            },
            {
              "content": "Claro — aquí tienes un ejemplo de mensaje de un usuario cualquiera (cliente potencial) preguntando por un carro:\n\n“Hola, vi el anuncio del Mazda CX-5. ¿Todavía está disponible? ¿Cuál es el precio final y cuántos kilómetros tiene? También quisiera saber si aceptan financiamiento y si se puede agendar una prueba de manejo. Gracias.”\n\nSi lo quieres más “Marketplace” (más corto y directo):\n\n“Hola, sigue disponible? Precio? Km? Se puede ver hoy?”"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -126768,
        -78688
      ],
      "id": "a38f7072-b117-4e89-a33f-499be421bbcf",
      "name": "Message a model7",
      "credentials": {
        "openAiApi": {
          "id": "wu1SdZq2U1PD0TjX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Eres un analizador de texto cortos y lo transformas en texto muy explicitos y largos"
            },
            {
              "content": "=Analiza el contenido que te enviaré (texto/tabla/JSON/transcripción). Tu tarea es generar un texto EXTREMADAMENTE largo, detallado y exhaustivo, en español, sin usar viñetas ni listas, solo párrafos.\n\nRequisitos obligatorios:\n\n* Longitud objetivo: mínimo 12,000 palabras (si el contenido es corto, amplía con análisis, contexto, ejemplos y escenarios).\n* Estructura: título + 12 secciones con subtítulos, pero dentro de cada sección escribe únicamente en párrafos (no bullets).\n* Profundidad: explica qué es, por qué importa, cómo se aplica, ventajas, riesgos, supuestos, limitaciones, métricas, buenas prácticas, errores comunes, casos de uso, comparaciones y recomendaciones.\n* Extracción: identifica conceptos clave, términos técnicos, entidades (personas, lugares, productos), cifras y relaciones entre ellas.\n* Inferencias: cuando infieras algo que NO está explícito, márcalo con “(inferencia)” y justifica por qué.\n* Consistencia: no inventes datos numéricos; si faltan, usa rangos razonables y explica que son estimaciones (inferencia).\n* Estilo: formal, claro, coherente, sin relleno repetitivo, con transiciones naturales entre secciones.\n* Incluye: un resumen ejecutivo al inicio (2–3 párrafos) y una conclusión final extensa (mínimo 10 párrafos).\n* Citas internas: cuando uses frases exactas del contenido, colócalas entre comillas y no uses más de 25 palabras por cita.\n* Salida: entrega solo el texto final, sin explicaciones sobre el proceso, sin markdown.\n\nContenido a analizar:\n{{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -126768,
        -78688
      ],
      "id": "a99298f3-45d2-44bc-8c09-1d7f07ec85f5",
      "name": "Message a model8",
      "credentials": {
        "openAiApi": {
          "id": "wu1SdZq2U1PD0TjX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Eres un guionista y estratega de contenido para una concesionaria de autos. Genera 5 guiones cortos (vertical 9:16) para Reels/TikTok/Shorts, en español neutro, listos para grabar. Cada guion debe durar 25–40 segundos, con tono persuasivo y cercano (sin exagerar ni prometer cosas falsas).\n\nContexto (rellenar con mis datos):\n\n* Concesionaria: {NOMBRE_CONCESIONARIA}\n* Ciudad/país: {CIUDAD_PAIS}\n* Tipo de inventario: {NUEVOS_USADOS_MIX}\n* Marcas principales: {MARCAS}\n* Público objetivo: {PUBLICO_OBJETIVO}\n* Diferenciadores: {DIFERENCIADORES} (ej: garantía, financiamiento, revisión mecánica, entrega a domicilio, trade-in, etc.)\n* CTA principal: {CTA} (ej: “Escríbenos por WhatsApp”, “Agenda tu test drive”, “Visítanos hoy”)\n* Estilo visual: {ESTILO} (ej: moderno, premium, juvenil, familiar)\n\nRequisitos por guion:\n\n1. Título (hook) de máximo 8 palabras.\n2. Objetivo del video (vender, generar leads, educar, confianza).\n3. Guion palabra por palabra (lo que dice el presentador).\n4. Lista de tomas por segundo (shot list) indicando: plano (close/medio/abierto), qué se muestra (auto, interior, tablero, maletero, etc.), y texto en pantalla.\n5. B-roll sugerido (3–5 clips).\n6. Subtítulos: 1–2 líneas por frase, sin signos raros, fácil de leer.\n7. Copy para descripción (1–2 líneas) + 5 hashtags relevantes.\n8. CTA final con urgencia suave (sin “últimas unidades” si no es real).\n\nVariedad obligatoria (1 guion de cada tipo):\n\n* A) “Oportunidad de la semana” (precio + beneficio real + por qué vale).\n* B) “3 cosas que revisar antes de comprar usado” (educativo).\n* C) “Comparativa rápida” (dos autos similares, ideal para indecisos).\n* D) “Test drive sensorial” (sonido, manejo, confort, seguridad).\n* E) “Confianza” (proceso de revisión, garantía, papeles, cómo compras sin riesgos).\n\nReglas:\n\n* No inventes datos técnicos ni precios si no te los doy. Si faltan, usa placeholders: {PRECIO}, {AÑO}, {KM}, {MOTOR}, {TRANSMISION}, {BONO}.\n* No menciones marcas competidoras de forma negativa.\n* Evita jerga demasiado técnica; explica fácil.\n* Enfatiza transparencia: “te mostramos todo”, “historial”, “revisión”, “prueba”.\n\nEntrega en formato claro con separadores por guion y sin markdown."
            },
            {
              "content": "Claro — aquí tienes un ejemplo de mensaje de un usuario cualquiera (cliente potencial) preguntando por un carro:\n\n“Hola, vi el anuncio del Mazda CX-5. ¿Todavía está disponible? ¿Cuál es el precio final y cuántos kilómetros tiene? También quisiera saber si aceptan financiamiento y si se puede agendar una prueba de manejo. Gracias.”\n\nSi lo quieres más “Marketplace” (más corto y directo):\n\n“Hola, sigue disponible? Precio? Km? Se puede ver hoy?”"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -126768,
        -78688
      ],
      "id": "9e80e799-d8db-4428-87a7-d5178256749c",
      "name": "Message a model9",
      "credentials": {
        "openAiApi": {
          "id": "wu1SdZq2U1PD0TjX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Eres un analizador de texto cortos y lo transformas en texto muy explicitos y largos"
            },
            {
              "content": "=Analiza el contenido que te enviaré (texto/tabla/JSON/transcripción). Tu tarea es generar un texto EXTREMADAMENTE largo, detallado y exhaustivo, en español, sin usar viñetas ni listas, solo párrafos.\n\nRequisitos obligatorios:\n\n* Longitud objetivo: mínimo 12,000 palabras (si el contenido es corto, amplía con análisis, contexto, ejemplos y escenarios).\n* Estructura: título + 12 secciones con subtítulos, pero dentro de cada sección escribe únicamente en párrafos (no bullets).\n* Profundidad: explica qué es, por qué importa, cómo se aplica, ventajas, riesgos, supuestos, limitaciones, métricas, buenas prácticas, errores comunes, casos de uso, comparaciones y recomendaciones.\n* Extracción: identifica conceptos clave, términos técnicos, entidades (personas, lugares, productos), cifras y relaciones entre ellas.\n* Inferencias: cuando infieras algo que NO está explícito, márcalo con “(inferencia)” y justifica por qué.\n* Consistencia: no inventes datos numéricos; si faltan, usa rangos razonables y explica que son estimaciones (inferencia).\n* Estilo: formal, claro, coherente, sin relleno repetitivo, con transiciones naturales entre secciones.\n* Incluye: un resumen ejecutivo al inicio (2–3 párrafos) y una conclusión final extensa (mínimo 10 párrafos).\n* Citas internas: cuando uses frases exactas del contenido, colócalas entre comillas y no uses más de 25 palabras por cita.\n* Salida: entrega solo el texto final, sin explicaciones sobre el proceso, sin markdown.\n\nContenido a analizar:\n{{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -126768,
        -78688
      ],
      "id": "c735653f-6a6b-425d-b406-b4751c77801d",
      "name": "Message a model10",
      "credentials": {
        "openAiApi": {
          "id": "wu1SdZq2U1PD0TjX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Eres un analizador de texto cortos y lo transformas en texto muy explicitos y largos"
            },
            {
              "content": "=Analiza el contenido que te enviaré (texto/tabla/JSON/transcripción). Tu tarea es generar un texto EXTREMADAMENTE largo, detallado y exhaustivo, en español, sin usar viñetas ni listas, solo párrafos.\n\nRequisitos obligatorios:\n\n* Longitud objetivo: mínimo 12,000 palabras (si el contenido es corto, amplía con análisis, contexto, ejemplos y escenarios).\n* Estructura: título + 12 secciones con subtítulos, pero dentro de cada sección escribe únicamente en párrafos (no bullets).\n* Profundidad: explica qué es, por qué importa, cómo se aplica, ventajas, riesgos, supuestos, limitaciones, métricas, buenas prácticas, errores comunes, casos de uso, comparaciones y recomendaciones.\n* Extracción: identifica conceptos clave, términos técnicos, entidades (personas, lugares, productos), cifras y relaciones entre ellas.\n* Inferencias: cuando infieras algo que NO está explícito, márcalo con “(inferencia)” y justifica por qué.\n* Consistencia: no inventes datos numéricos; si faltan, usa rangos razonables y explica que son estimaciones (inferencia).\n* Estilo: formal, claro, coherente, sin relleno repetitivo, con transiciones naturales entre secciones.\n* Incluye: un resumen ejecutivo al inicio (2–3 párrafos) y una conclusión final extensa (mínimo 10 párrafos).\n* Citas internas: cuando uses frases exactas del contenido, colócalas entre comillas y no uses más de 25 palabras por cita.\n* Salida: entrega solo el texto final, sin explicaciones sobre el proceso, sin markdown.\n\nContenido a analizar:\n{{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -126768,
        -78688
      ],
      "id": "e9d4e352-9f1c-4ab2-b01e-ba0dfdffe345",
      "name": "Message a model11",
      "credentials": {
        "openAiApi": {
          "id": "wu1SdZq2U1PD0TjX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Eres un guionista y estratega de contenido para una concesionaria de autos. Genera 5 guiones cortos (vertical 9:16) para Reels/TikTok/Shorts, en español neutro, listos para grabar. Cada guion debe durar 25–40 segundos, con tono persuasivo y cercano (sin exagerar ni prometer cosas falsas).\n\nContexto (rellenar con mis datos):\n\n* Concesionaria: {NOMBRE_CONCESIONARIA}\n* Ciudad/país: {CIUDAD_PAIS}\n* Tipo de inventario: {NUEVOS_USADOS_MIX}\n* Marcas principales: {MARCAS}\n* Público objetivo: {PUBLICO_OBJETIVO}\n* Diferenciadores: {DIFERENCIADORES} (ej: garantía, financiamiento, revisión mecánica, entrega a domicilio, trade-in, etc.)\n* CTA principal: {CTA} (ej: “Escríbenos por WhatsApp”, “Agenda tu test drive”, “Visítanos hoy”)\n* Estilo visual: {ESTILO} (ej: moderno, premium, juvenil, familiar)\n\nRequisitos por guion:\n\n1. Título (hook) de máximo 8 palabras.\n2. Objetivo del video (vender, generar leads, educar, confianza).\n3. Guion palabra por palabra (lo que dice el presentador).\n4. Lista de tomas por segundo (shot list) indicando: plano (close/medio/abierto), qué se muestra (auto, interior, tablero, maletero, etc.), y texto en pantalla.\n5. B-roll sugerido (3–5 clips).\n6. Subtítulos: 1–2 líneas por frase, sin signos raros, fácil de leer.\n7. Copy para descripción (1–2 líneas) + 5 hashtags relevantes.\n8. CTA final con urgencia suave (sin “últimas unidades” si no es real).\n\nVariedad obligatoria (1 guion de cada tipo):\n\n* A) “Oportunidad de la semana” (precio + beneficio real + por qué vale).\n* B) “3 cosas que revisar antes de comprar usado” (educativo).\n* C) “Comparativa rápida” (dos autos similares, ideal para indecisos).\n* D) “Test drive sensorial” (sonido, manejo, confort, seguridad).\n* E) “Confianza” (proceso de revisión, garantía, papeles, cómo compras sin riesgos).\n\nReglas:\n\n* No inventes datos técnicos ni precios si no te los doy. Si faltan, usa placeholders: {PRECIO}, {AÑO}, {KM}, {MOTOR}, {TRANSMISION}, {BONO}.\n* No menciones marcas competidoras de forma negativa.\n* Evita jerga demasiado técnica; explica fácil.\n* Enfatiza transparencia: “te mostramos todo”, “historial”, “revisión”, “prueba”.\n\nEntrega en formato claro con separadores por guion y sin markdown."
            },
            {
              "content": "Claro — aquí tienes un ejemplo de mensaje de un usuario cualquiera (cliente potencial) preguntando por un carro:\n\n“Hola, vi el anuncio del Mazda CX-5. ¿Todavía está disponible? ¿Cuál es el precio final y cuántos kilómetros tiene? También quisiera saber si aceptan financiamiento y si se puede agendar una prueba de manejo. Gracias.”\n\nSi lo quieres más “Marketplace” (más corto y directo):\n\n“Hola, sigue disponible? Precio? Km? Se puede ver hoy?”"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -126768,
        -78688
      ],
      "id": "bb4db746-65de-42b7-9392-9c7a1f1269be",
      "name": "Message a model12",
      "credentials": {
        "openAiApi": {
          "id": "wu1SdZq2U1PD0TjX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Eres un analizador de texto cortos y lo transformas en texto muy explicitos y largos"
            },
            {
              "content": "=Analiza el contenido que te enviaré (texto/tabla/JSON/transcripción). Tu tarea es generar un texto EXTREMADAMENTE largo, detallado y exhaustivo, en español, sin usar viñetas ni listas, solo párrafos.\n\nRequisitos obligatorios:\n\n* Longitud objetivo: mínimo 12,000 palabras (si el contenido es corto, amplía con análisis, contexto, ejemplos y escenarios).\n* Estructura: título + 12 secciones con subtítulos, pero dentro de cada sección escribe únicamente en párrafos (no bullets).\n* Profundidad: explica qué es, por qué importa, cómo se aplica, ventajas, riesgos, supuestos, limitaciones, métricas, buenas prácticas, errores comunes, casos de uso, comparaciones y recomendaciones.\n* Extracción: identifica conceptos clave, términos técnicos, entidades (personas, lugares, productos), cifras y relaciones entre ellas.\n* Inferencias: cuando infieras algo que NO está explícito, márcalo con “(inferencia)” y justifica por qué.\n* Consistencia: no inventes datos numéricos; si faltan, usa rangos razonables y explica que son estimaciones (inferencia).\n* Estilo: formal, claro, coherente, sin relleno repetitivo, con transiciones naturales entre secciones.\n* Incluye: un resumen ejecutivo al inicio (2–3 párrafos) y una conclusión final extensa (mínimo 10 párrafos).\n* Citas internas: cuando uses frases exactas del contenido, colócalas entre comillas y no uses más de 25 palabras por cita.\n* Salida: entrega solo el texto final, sin explicaciones sobre el proceso, sin markdown.\n\nContenido a analizar:\n{{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -126768,
        -78688
      ],
      "id": "9bc4a538-32e8-4e8e-aa88-1038c125d38f",
      "name": "Message a model13",
      "credentials": {
        "openAiApi": {
          "id": "wu1SdZq2U1PD0TjX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    urls: [\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=audi&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=baic&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=bmw&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=byd&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=changan&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=chery&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=chevrolet&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=citroen&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=dfsk&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=dodge&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=dongfeng&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=faw&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=fiat&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=ford&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=foton&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=gac+motor&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=geely&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=gwm&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=honda&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=hyundai&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=isuzu&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=jac&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=jaecoo&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=jeep&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=jetour&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=kia&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=land+rover&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=lexus&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=mazda&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=mercedes-benz&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=mg&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=mini&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=mitsubishi&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=nissan&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=opel&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=peugeot&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=porsche&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=ram&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=renault&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=seat&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=shineray&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=skoda&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=subaru&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=suzuki&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=swm&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=ssangyong&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=toyota&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=volkswagen&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=volvo&exact=false\",\n      \"https://www.facebook.com/marketplace/107027002661118/search?sortBy=creation_time_descend&query=zx+auto&exact=false\"\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4608,
        4176
      ],
      "id": "60952fb0-40b8-41e8-8342-25abc5af5b77",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        4320,
        3664
      ],
      "id": "bdd9b438-f4fc-4cc7-994d-2804063dfd43",
      "name": "Trigger horario1"
    },
    {
      "parameters": {
        "jsCode": "const ECUADOR_CAR_DATA = {\"Audi\":[\"A3\",\"A4\",\"e-tron\",\"Q3\",\"Q5\",\"Q7\",\"Q8\",\"Q8 e-tron\"],\"BAIC\":[\"BJ40\",\"X35\",\"X55\"],\"BMW\":[\"Serie 3\",\"Serie 4\",\"X1\",\"X3\",\"X5\",\"X6\",\"X7\",\"i4\",\"iX\",\"iX3\"],\"BYD\":[\"Dolphin\",\"Han\",\"Seal\",\"Song Plus DM-i\",\"Tang\",\"Yuan Plus\",\"Yuan Pro\"],\"Changan\":[\"CS15\",\"CS35 Plus\",\"CS35 Plus DCT\",\"CS55 Plus\",\"CS55 R-EV\",\"Hunter E\",\"Hunter Turbo\",\"M60\",\"UNI-K\",\"UNI-T\",\"V3\",\"X7\"],\"Chery\":[\"Arrizo 5\",\"Arrizo 6\",\"Omoda 5\",\"Tiggo 2 PRO\",\"Tiggo 4 PRO\",\"Tiggo 7 PRO\",\"Tiggo 7 PRO Max\",\"Tiggo 8 PRO\"],\"Chevrolet\":[\"Aveo\",\"Blazer RS\",\"Bolt\",\"Bolt EUV\",\"Captiva\",\"Colorado\",\"D-MAX\",\"D-MAX High Power\",\"Equinox\",\"Groove\",\"Joy\",\"Joy Hb\",\"Montana\",\"N400\",\"Onix\",\"Onix RS\",\"Sail\",\"Silverado\",\"Suburban\",\"Tahoe\",\"Tracker\",\"Trailblazer\"],\"Citroën\":[\"Berlingo\",\"Berlingo Multispace\",\"Berlingo Van\",\"C-Elysée\",\"C3\",\"C3 Aircross\",\"C5 Aircross\",\"Jumper\",\"Jumpy\"],\"DFSK\":[\"560\",\"580\",\"600\",\"E5\"],\"Dodge\":[\"Durango\"],\"Dongfeng\":[\"Aeolus Shine\",\"Friday\",\"Nammi 01\",\"Rich 6\",\"Rich 7\",\"T5 Evo\"],\"FAW\":[\"Bestune T33\",\"Bestune T77\"],\"Fiat\":[\"500\",\"Argo\",\"Cronos\",\"Fastback\",\"Fiorino\",\"Pulse\",\"Strada\"],\"Ford\":[\"Bronco\",\"Bronco Sport\",\"Edge\",\"Escape\",\"Escape Full Hybrid\",\"Escape Titanium\",\"Everest\",\"Expedition\",\"Explorer\",\"F-150\",\"F-150 Híbrida\",\"Maverick\",\"Ranger\",\"Territory\"],\"Foton\":[\"Tunland G7\",\"Tunland G9\",\"View\"],\"GAC Motor\":[\"Aion ES\",\"Aion Y\",\"Emkoo\",\"GS3 Emzoom\",\"GS4 Max\",\"GS8\"],\"Geely\":[\"Azkarra\",\"Coolray\",\"Emgrand\",\"GX3 Pro\",\"Okavango\",\"Starray\"],\"GWM (Great Wall Motors)\":[\"Haval H6\",\"Haval H6 Híbrido\",\"Haval Jolion\",\"Haval Jolion Pro\",\"POER\",\"POER 500 Hybrid\",\"POER Automática\",\"POER Manual\",\"POER PHEV\",\"Tank 300\",\"Tank 500\",\"Wingle 7\"],\"Honda\":[\"CR-V\",\"Civic\",\"City\",\"HR-V\",\"Pilot\",\"Ridgeline\",\"WR-V\"],\"Hyundai\":[\"Accent\",\"Creta\",\"Elantra\",\"Grand i10\",\"H1\",\"Ioniq\",\"Ioniq 5\",\"Ioniq 6\",\"Kona\",\"Kona EV\",\"Kona HEV\",\"Palisade\",\"Santa Fe\",\"Sonata\",\"Staria\",\"Tucson\",\"Venue\",\"Verna\",\"Veloster\"],\"Isuzu\":[\"D-MAX\",\"MU-X\"],\"JAC\":[\"Frison T6\",\"Frison T6 (Diesel)\",\"Frison T6 (Gasolina)\",\"Frison T8\",\"Frison T8 (Diesel)\",\"Frison T8 PRO\",\"Frison T9\",\"JS2\",\"JS3\",\"JS4\",\"JS6\",\"JS8\",\"M4\",\"Sunray\"],\"Jaecoo\":[\"J7\",\"J8\"],\"Jeep\":[\"Commander\",\"Compass\",\"Gladiator\",\"Grand Cherokee\",\"Renegade\",\"Wrangler\"],\"Jetour\":[\"Dashing\",\"T2\",\"X70\",\"X70 Plus\"],\"Kia\":[\"Carens\",\"Carnival\",\"EV5\",\"EV6\",\"EV9\",\"K3\",\"Niro\",\"Picanto\",\"Seltos\",\"Soluto\",\"Sonet\",\"Sorento\",\"Sportage\"],\"Land Rover\":[\"Defender\",\"Discovery\",\"Range Rover Evoque\",\"Range Rover Sport\"],\"Lexus\":[\"ES\",\"GX\",\"IS\",\"LX\",\"NX\",\"RX\",\"UX\"],\"Mazda\":[\"BT-50\",\"CX-3\",\"CX-30\",\"CX-5\",\"CX-50\",\"CX-60\",\"CX-90\",\"MX-5\",\"Mazda 2\",\"Mazda 2 Hatchback\",\"Mazda 2 Sedan\",\"Mazda 3\",\"Mazda 3 Hatchback\",\"Mazda 3 Sedan\"],\"Mercedes-Benz\":[\"Clase A\",\"Clase C\",\"Clase E\",\"Clase G\",\"GLA\",\"GLC\",\"GLE\"],\"MG\":[\"MG 3\",\"MG 4\",\"MG 5\",\"MG GT\",\"MG HS\",\"MG Marvel R\",\"MG One\",\"MG RX5\",\"MG RX8\",\"MG RX9\",\"MG ZS\"],\"Mini\":[\"Cooper\",\"Countryman\"],\"Mitsubishi\":[\"ASX\",\"Eclipse Cross\",\"L200\",\"Montero Sport\",\"Outlander\"],\"Nissan\":[\"Frontier\",\"Kicks\",\"Leaf\",\"Pathfinder\",\"Patrol\",\"Qashqai\",\"Sentra\",\"Urvan\",\"Versa\",\"X-Trail\",\"X-Trail e-POWER\"],\"Opel\":[\"Corsa\",\"Crossland\",\"Grandland\",\"Mokka\"],\"Peugeot\":[\"2008\",\"208\",\"3008\",\"5008\",\"Landtrek\"],\"Porsche\":[\"911\",\"Cayenne\",\"Macan\",\"Panamera\",\"Taycan\"],\"RAM\":[\"RAM 1500\",\"RAM 700\",\"Rampage\"],\"Renault\":[\"Arkana\",\"Duster\",\"Kardian\",\"Koleos\",\"Kwid\",\"Logan\",\"Logan Crossover\",\"Megane E-Tech\",\"Oroch\",\"Sandero\",\"Sandero Stepway\",\"Stepway\"],\"Seat\":[\"Arona\",\"Ateca\",\"Ibiza\",\"Leon\",\"Tarraco\"],\"Shineray\":[\"G05\",\"X30\"],\"Skoda\":[\"Fabia\",\"Kamiq\",\"Karoq\",\"Kodiaq\",\"Scala\"],\"Subaru\":[\"Crosstrek\",\"Evoltis\",\"Forester\",\"Outback\",\"WRX\"],\"Suzuki\":[\"Baleno\",\"Eeco\",\"Fronx\",\"Grand Vitara\",\"Jimny\",\"Jimny 3-Door\",\"Jimny 5-Door\",\"S-Cross\",\"S-Cross Limitless\",\"Swift\",\"Vitara\",\"XL7\"],\"SWM\":[\"G01\",\"G03F\",\"G05\"],\"SsangYong\":[\"Korando\",\"Musso\",\"Rexton\",\"Tivoli\"],\"Toyota\":[\"4Runner\",\"Agya\",\"C-HR\",\"C-HR Híbrido\",\"Corolla\",\"Corolla Cross\",\"Corolla Cross Híbrido\",\"Corolla Híbrido\",\"Fortuner\",\"Highlander\",\"Hilux\",\"Innova\",\"Land Cruiser 300\",\"Land Cruiser Prado\",\"Raize\",\"Rav4\",\"Rush\",\"Sequoia\",\"Tundra\",\"Yaris\",\"Yaris Sport\",\"New Yaris\"],\"Volkswagen\":[\"Amarok\",\"ID.4\",\"Nivus\",\"Polo\",\"Polo HB\",\"Polo Track\",\"Saveiro\",\"T-Cross\",\"Taos\",\"Teramont\",\"Tiguan\",\"Virtus\"],\"Volvo\":[\"C40\",\"EX30\",\"XC40\",\"XC60\",\"XC90\"],\"ZX Auto\":[\"Terralord\"]};\n\nconst urls = [];\n\nfor (const [brand] of Object.entries(ECUADOR_CAR_DATA)) {\n    const urlString = encodeURIComponent(`${brand}`);\n    urls.push(`https://www.facebook.com/marketplace/cuenca/search/?daysSinceListed=7&sortBy=creation_time_descend&query=${urlString}&exact=false&locale=es_LA`);\n}\n\nreturn [{ json: { urls } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4608,
        3664
      ],
      "id": "9513f7d8-7638-4f1d-8821-6516d0fca6d5",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "url": "={{ $json.seller_pic ? $json.seller_pic : 'https://scontent-bog2-2.xx.fbcdn.net/v/t1.30497-1/453178253_471506465671661_2781666950760530985_n.png?stp=dst-png_s100x100&_nc_cat=1&ccb=1-7&_nc_sid=136b72&_nc_ohc=YmLQWHKNe9kQ7kNvwEdcjHR&_nc_oc=AdnYQsDXwA_FkNw0GtpxT92jR15Ds_sQ9pH3dfwaMrpfK9gGHH2Y27cVNx3o6a9L8Qw&_nc_zt=24&_nc_ht=scontent-bog2-2.xx&_nc_ss=8&oh=00_AfwDWTgN4KiPLhe4aj4AVZVrDM4xRJGtXfxhWQSlsYEdZA&oe=69D2CBFA' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7312,
        3648
      ],
      "id": "a8b9cfd7-d00a-4d25-b6c1-c2ed1a84c4b3",
      "name": "HTTP Request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Editar vendedores existentes y cambiarlos por verdaderos vendedores",
        "height": 240,
        "width": 944
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6384,
        3248
      ],
      "typeVersion": 1,
      "id": "60116e6a-7488-4d2c-b7bd-a75ed5b22979",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Respond to Webhook14": {
      "main": [
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Map & tag listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger FrontEnd": {
      "main": [
        [
          {
            "node": "Convert string to Encode URI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger horario": {
      "main": [
        [
          {
            "node": "Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedidos": {
      "main": [
        [
          {
            "node": "Extract vehicle",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Scrap data by enconde uri": {
      "main": [
        [
          {
            "node": "Check if any data exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert string to Encode URI": {
      "main": [
        [
          {
            "node": "Scrap data by enconde uri",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get vehicles on db",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map & tag listings": {
      "main": [
        [
          {
            "node": "Sellers Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert images to base 64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter cars by price": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if any data exists": {
      "main": [
        [
          {
            "node": "Filter cars by price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Supabase Storage": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert images to base 64": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listing image URLs": {
      "main": [
        [
          {
            "node": "Update images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update images": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Listings to DB": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vehicles Listings Data": {
      "main": [
        [
          {
            "node": "Save Listings to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sellers Data": {
      "main": [
        [
          {
            "node": "Get sellers already con db",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload to Supabase Storage",
            "type": "main",
            "index": 0
          },
          {
            "node": "Listing image URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract vehicle": {
      "main": [
        [
          {
            "node": "Scrap data by enconde uri",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Batch Prompt": {
      "main": [
        [
          {
            "node": "Extract vehicle especifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Batch AI Results": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract vehicle especifications": {
      "main": [
        [
          {
            "node": "Split Batch AI Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get vehicles on db": {
      "main": [
        [
          {
            "node": "Build Batch Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter mapped data by existing sellers1": {
      "main": [
        [
          {
            "node": "Vehicles Listings Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sellers already con db": {
      "main": [
        [
          {
            "node": "Filter mapped data by existing sellers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger FrontEnd1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "Merge with seller pic": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All sellers": {
      "main": [
        [
          {
            "node": "All true sellers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model4": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model5": {
      "main": [
        [
          {
            "node": "Message a model6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Message a model4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All true sellers": {
      "main": [
        [
          {
            "node": "Merge with seller pic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        []
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model7": {
      "main": [
        [
          {
            "node": "Message a model8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model8": {
      "main": [
        [
          {
            "node": "Message a model9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model9": {
      "main": [
        [
          {
            "node": "Message a model10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model10": {
      "main": [
        [
          {
            "node": "Message a model11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model11": {
      "main": [
        [
          {
            "node": "Message a model12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model12": {
      "main": [
        [
          {
            "node": "Message a model13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model6": {
      "main": [
        [
          {
            "node": "Message a model7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Scrap data by enconde uri",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger horario1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Scrap data by enconde uri",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a0430caf-384d-45ec-a91e-962d030bec71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "58ac6b1b1410e4ba695726a4397643d8d13eae54276374158c8b4c2633c039f2"
  },
  "id": "jMhLHQdlmYEDLeSe",
  "tags": []
}